[2016-08-15 17:32] jonas-he opened #1 "Research on more Data sources and extract data from them"

[2016-08-15 17:33] samitsv opened #2 "Determination of features for extraction, to be used later in the Machine Learning Algorithm + Consulting PokemonGo expert for more features"

[2016-08-15 17:35] samitsv opened #3 "Data extraction - Twitter - Streaming API + Parse tweets to fetch Pokemon details and add to the database + Listener for hashtag and event trigger"

[2016-08-15 17:38] samitsv opened #4 "Go through the code of ProjectA of previous seminar"
https://github.com/Rostlab/JS16_ProjectA

[2016-08-15 17:38] jonas-he commented on #1
https://www.reddit.com/r/pokemongodev/comments/4trjum/pok%C3%A9mon_go_development_archive_works_in_progress/

[2016-08-15 17:38] jonas-he commented on #1
https://www.reddit.com/r/thesilphroad

[2016-08-15 17:51] vivek-sethia opened #5 "Data extraction - PokeRadar - Design Strategy to access from multiple IPs to prevent blocking"

[2016-08-15 17:52] vivek-sethia opened #6 "Set up a document-oriented database (DB) + Set up an API server that will expose the data to all the downstream apps that will consume it"

[2016-08-15 18:02] swathi-ssunder opened #7 "Data extraction - PokemonGo Wiki - Design Strategy for extraction"

[2016-08-16 08:48] sacdallago commented on #6
This issue sounds like a milestone to me. Keep issues smaller and separate them ;)

[2016-08-16 08:49] sacdallago commented on #3
Same thing as earlier: keep issues small (something you would work on in 2/3 days)

[2016-08-16 08:50] sacdallago commented on #1
This kind of issue is OK. Remember to use **labels** to filter the different issues in types, eg:
- feature
- bug
- question
- research
- discussion
- ...

[2016-08-16 08:59] swathi-ssunder opened #9 "Set up a document-oriented DB"
Eg: MongoDB

[2016-08-16 09:01] swathi-ssunder opened #10 "Set up an API server to serve downstream apps"

[2016-08-16 09:03] swathi-ssunder commented on #6
Sure, we actually added milestones too, but did not separate the issues !
Will consider your comment about issues and make changes accordingly.

[2016-08-16 09:03] #6 closed

[2016-08-16 09:04] swathi-ssunder opened #11 "Integrate the Twitter Streaming API"

[2016-08-16 09:05] swathi-ssunder opened #12 "Parsing of tweets to fetch Pokemon details"

[2016-08-16 09:06] swathi-ssunder opened #13 "Twitter Listener for hashtag and event trigger"

[2016-08-16 09:06] swathi-ssunder commented on #3
Done. Separate issues created as suggested.

[2016-08-16 09:06] #3 closed

[2016-08-16 09:11] swathi-ssunder opened #14 "Extract data from PokeRadar"

[2016-08-16 09:12] swathi-ssunder opened #15 "Design Strategy to access from multiple IPs to prevent blocking"

[2016-08-16 09:12] swathi-ssunder commented on #5
Separate issues created.

[2016-08-16 09:12] #5 closed

[2016-08-16 09:18] sacdallago commented on #14
Christmas comes early this year (just a very, VERY rough and quick tryout)
[scraper.js.tar.gz](https://github.com/PokemonGoers/PokeData/files/419883/scraper.js.tar.gz)

[2016-08-16 11:49] gyachdav commented on #1
Rare pokemons trakcer
http://pokesnipers.com/

[2016-08-16 12:32] gyachdav opened #17 "Preliminary results"
Dear Project A members,

Since the deliverables from this group are so critical for the success of all other projects, we are setting a deadline to get some preliminary results from your group.

The soft  deadline is August 31st and the hard deadline is August 7th.

By the deadline we want to see an active API that makes data you scraped available. You will have a database in place and will alread

[2016-08-16 19:28] samitsv commented on #2
**Important Features:**
1.  Correlation between the **Type** of pokemon and the **environment/location/time**:
     for example: water type pokemon should be correlated with environments locations near water resources, grass type with grassy/forest areas, dark/ghost pokemons to be found more during the night time

[2016-08-16 19:30] samitsv commented on #13
- created a basic listener for #pokemongo: PR #18

[2016-08-17 03:30] sacdallago commented on #13
@samitsv in your previous point, you mention you created a listener. I wonder where :)
To highlight where you have three options:
1. If you opened a pull request regarding this issue, you can reference this issue by inserting in the pull request description a #ISSUENUMBER ( #13 in this case)
2. If you solved the issue in one commit, you can close the issue by terminating your commit with "closes #

[2016-08-17 03:43] sacdallago opened #20 "Shared database instance"
Dear members of project A,
I see you have already started to set up mongoose, good job.

At some stage it will be useful for you to have a shared database, so that everyone sees the same data.
You can get a free 500MB database at [mlab](https://mlab.com/).

**PLEASE** remember that the connection details for Read+Write users should **NOT** be copied in any file that will be uploaded to github!!!!!

[2016-08-17 03:48] sacdallago opened #21 "API packaging"
If you want to test your API, I suggest the following scheme:

We have a server where we can host your API, but you won't have access to it (LRZ is very strict on this). What we can do, though, is the following: if you package your API into a [Docker](https://www.docker.com/) instance (through a .Dockerfile that reads the config.json from some given path), I will set up a hook to listen to changes

[2016-08-17 06:10] swathi-ssunder commented on #21
I must say I am not familiar with Docker and have just started reading about it.
For the above suggested task, I did setup Docker on my machine and tested our current application on it using the DockerFile attached here.
[Dockerfile.zip](https://github.com/PokemonGoers/PokeData/files/421871/Dockerfile.zip)

Let me know if this is on the right track.

Also regarding reading from the config.json fil

[2016-08-17 06:36] sacdallago commented on #21
1. This skills are going beyond :) This is industry standard. If you can do this and will apply for a job at some stage in the near future, you will be in the top 20%. Also it is handy in day-to-day development.
2. You are on the right track! Take your time to understand how to do it, don't need to do it today, just soon!
3. Remember to specify what it means to run `npm start` (last line of your .

[2016-08-17 07:19] vivek-sethia commented on #9
Setting up of Document DB ( MongoDb) and fetching and storing of Pokemon details from dummy data.
Commit id a11a54805478686c446169637e258b6aedd589c9

[2016-08-17 07:30] swathi-ssunder commented on #21
Thanks for the pointers. I shall proceed in this direction and will maybe get back if I have any questions after I understand it better :)

[2016-08-17 09:22] jonas-he commented on #15
First of all i would check if sites such as pokeradar.io block you for excessively querying their service.
If yes, then we could try to send our requests through a list of proxies and cycle through them.
Will get back to it once i tested the extraction script.

[2016-08-17 09:34] sacdallago commented on #1
https://reddit.com/r/pokemongodev

[2016-08-17 09:43] jonas-he commented on #1
Thanks for the hints!
So far I identified some other sources apart from pokeradar.io:
- host: pokecrew.com
  - api path: https://api.pokecrew.com/api/v1/seens
  - parameters: center_latitude, center_longitude, northeast_latitude, northeast_longitude, southwest_latitude, southwest_longitude, pokemon_id (leave blank for all pokemon), live, minimal (don't yet know what live and minimal are for)
- hos

[2016-08-17 11:18] jonas-he commented on #1
- host: pokemapper.co
  - api path: https://pokemapper.global.ssl.fastly.net/sightings
  - parameters: limit
- host: pokelive.io (you can see map, but api requests don't get answered - timeout)
  - api path: http://pokelive.io/api/data
  - parameters: lat1, lat2, lng1, lng2
- host: pokemaplive.com (note: one request takes about 15-30 seconds)
  - api path: https://api.pokemaplive.com/api_v4.php

[2016-08-17 11:50] sacdallago commented on #1
for me pokemapper.co works :)

[2016-08-17 11:59] jonas-he commented on #1
Tried Firefox now instead of Chrome and it works, thx! Edited previous comment.

[2016-08-17 18:41] jonas-he commented on #17
You mean "hard deadline is September 7th" ?

[2016-08-17 18:49] gyachdav commented on #17
Yes Sep 7th. Thanks for catching this mistake. LMK if you have any questions.

[2016-08-17 18:50] samitsv commented on #17
Hello tutors,
   I think we are missing a team member. Is there any info if he/she will
be joing the group?

On Wed, Aug 17, 2016 at 8:49 PM, Guy notifications@github.com wrote:

[2016-08-17 18:53] #4 closed

[2016-08-17 18:56] samitsv commented on #1
https://pokeapi.co/

[2016-08-17 19:02] swathi-ssunder commented on #20
Data can now be stored either on a local database or a shared database based on the configuration parameter.
Refer #26 .
Awaiting further suggestions.

[2016-08-17 19:03] gyachdav commented on #17
How many people are you so far. There suppose to be 6 students assigned to this project.

[2016-08-17 19:04] swathi-ssunder commented on #17
We are 5 so far. Annette Köhler has also been assigned to Group A as per the website. But we have not heard from her so far.

[2016-08-17 19:08] swathi-ssunder commented on #9
Closed with #24

[2016-08-17 19:08] #9 closed

[2016-08-17 19:38] gyachdav commented on #17
Hi Anette,

Your group is looking for you ;)

Sent from my iPhone

[2016-08-17 20:20] swathi-ssunder commented on #17
It seems she is not a member of this repository too.

[2016-08-17 22:23] goldbergtatyana commented on #17
We pinged Annette to get in touch with you asap. But please do not wait for her, continue contributing. Annette will then just join it in the middle.

[2016-08-18 08:14] #20 closed

[2016-08-18 10:51] jonas-he commented on #2
So basically all the data sources we have found do provide pokemonId (1 = Bulbasaur, ...) location and time and no more useful information. To get the type of a specific Pokemon we can use the data we will extract from a wiki (For Bulbasaur it would be Grass/Poison). To get the environment the pokemon spawned in we have to come up with a function that takes location (lat/long) as input and returns

[2016-08-18 11:21] fabe85 commented on #2
Well the idea is good but the link only covers places of the United States.
In pokeapi.co there is an entry called "location_area_encounters". So maybe we can use that.

[2016-08-18 11:25] sacdallago commented on #2
I also like the idea a lot! Maybe using open street map data (POIs and what not) you can figure out the rest of the globe?
There is enough data out there to complete the task :)

[2016-08-18 11:42] gyachdav opened #30 "Data for pokemon's info page"
Information to collect on each Pokemon(info will appear on pokemon's info page):

* name
* gender (note that there's one Pokemon Nidoran) that can be both boy or girl)
* height
* weight
* category (kicking, hypnotize)
* ability/moves
* type
* weakeness
* evolution and pre form (note that a Pokemon can evolve into several forms)

[2016-08-18 14:32] jonas-he commented on #2
@fabe85 I think pokeapi.co is for the main game series and not specifically for PokemonGo, so not useful here.
As all the APIs i could find were limited to USA or Europe, i searched for a global thing.
I found the this map http://glcf.umd.edu/data/lc/ which has a resolution of about 10km (the 5' x 5' one) and can be downloaded from a ftp server (unzipped its about 20MB). If this resolution is to l

[2016-08-18 14:37] jonas-he commented on #2
another approuch would be to use the Google Static Maps API and to do some image processing (count green/blue/... amount) on the picture.
http://maps.googleapis.com/maps/api/staticmap?center=48.0881292,11.8356075&zoom=12&format=png&sensor=false&scale=2&size=640x480&maptype=roadmap&style=visibility:off&style=feature:water%7Celement:geometry%7Cvisibility:simplified&style=feature:poi.park%7Celement:g

[2016-08-18 15:34] fabe85 commented on #30
What is meant by weakness?
When looking at http://www.pokemongoevolution.com/ there is always only one evolution form.

[2016-08-18 15:48] jonas-he commented on #30
i think weakness means if your pokemon is not very effective when fighting against another.
In the table here: http://onlinefanatic.com/pokemon-go-strength-and-weakness-chart/ you can see that for the red field the damage gets multiplied by 0.8 so e.g. if a NORMAL pokemon attacks a ROCK pokemon it is not very effective.

[2016-08-18 16:00] fabe85 commented on #30
Ok then we should also add the strength feature. But I'm not sure how to save these data because we need an array of each type with the specific weakness and strength but we don't know the type beforehand.

[2016-08-18 18:23] swathi-ssunder commented on #21
Should I commit the Dockerfile to git or does it have to be sent via email(along with the env-file)?
Refer #32.

[2016-08-18 18:29] vivek-sethia opened #33 "Data Extraction and Storage- Should it be a part of npm start ?"
Currently npm start does not perform data extraction and storing it into MongoDB. It is separately perfromed through npm run update --collection=\<collection_name\>.

[2016-08-18 18:34] swathi-ssunder commented on #33
I also have a doubt regarding this.
In the Dockerfile, the last line is npm start. If the database storing is through the above npm update command, then will this command be executed manually?
Or will it somehow be integrated into the Dockerfile?

[2016-08-18 22:15] sacdallago commented on #21
The .dockerfie should not contain any sensible info, right?
In that case just push it to the repo with a PR.

The env file on the other hand should contain only sensible info so please send that to me via mail :) I'll try this all out later today

[2016-08-18 22:24] sacdallago commented on #33
Well it depends.
(Re)Building the database structure might be something you only wanna do at times, so by using `npm run build --collection...`.
On the other hand, feeding information to the database via listening on different services you should be doing constantly, so it should be part of your normal (start) execution.
You could however have some specialised behaviours, like `npm listen pokerada

[2016-08-19 04:33] swathi-ssunder commented on #21
Done. Refer #35 .
I have also mailed you the env file.

[2016-08-19 06:47] vivek-sethia commented on #10
Initial API Server Setup Done. Commit id 9929db527e210876b7a7563acaf581c241d5b4cd

[2016-08-20 07:00] swathi-ssunder commented on #21
I have sent a mail to christian.dallago@tum.de. Is this the right one?

[2016-08-20 08:01] sacdallago commented on #21
Yes @swathi-ssunder, sorry for not answering yet but I haven't had time to try it out on the production server and set up the whole pipeline.

I might just brute-force try one of these days :)

[2016-08-20 08:58] swathi-ssunder commented on #21
@sacdallago - No problem. I just wanted to ensure that it is delivered :)

[2016-08-20 09:35] vivek-sethia commented on #33
Thank you for the pointers.
1. Will the npm start also contains initial data collection ( previous data ) or will the npm build collection do that ?
2. How do we separate collections for the data storage based on data source( such as poke radar , pokeapi, twitter) or based on data attributes ? We feel that data collections should be based on source of the data rather data attributes  since it make

[2016-08-20 09:51] gyachdav commented on #30
@fabe85 note that Eevee can evolve into [three forms](https://en.wikipedia.org/wiki/Eevee#Evolution) and not one. you will need to define a one to many relationship in your model.

[2016-08-20 10:01] gyachdav commented on #30
Weakness means which type this Pokemon has a weakness to during gym battles. See http://bulbapedia.bulbagarden.net/wiki/Onix_(Pok%C3%A9mon)#Pok.C3.A9dex_entries and search for `Weak to:` on the page.

[2016-08-20 12:33] sacdallago commented on #33
1. I don't quote get the question. For what I understand/the way I would build it: the start should expose the API, the build should build the database/scrape the static data from wiki pages, there should be several scripts to listen to different services (Twitter, pokeradar, what not) which will be running indefinitely.
2. Again, how I would do it: many services will share one collection with a f

[2016-08-20 12:34] sacdallago commented on #33
P.s.: sorry for typos, am on phone

[2016-08-21 16:50] jonas-he commented on #2
since the time value we extract (e.g from pokeradar) is in unix time (milliseconds since 1/1/1970, 00:00 UTC) we don't represent the time of the day at this given location in our data (but this is important since some pokemon spawn more often during night time). So i would suggest to have 'absoluteTime' (unix time) and 'relativeTime' (e.g. 3 pm) as features.

[2016-08-21 17:55] swathi-ssunder opened #43 "Use env variables rather than config variables"
Refer https://github.com/PokemonGoers/PokeData/pull/26#issuecomment-240594260

Eg: For distinguishing between shared and local db

[2016-08-21 18:04] swathi-ssunder opened #44 "Allow to run application in development & production modes"
Refer https://github.com/PokemonGoers/PokeData/pull/26#issuecomment-240594764

node app.js runs app in dev mode
npm start runs app in production mode

[2016-08-21 18:05] swathi-ssunder opened #45 "Disable logging in production mode"
Refer https://github.com/PokemonGoers/PokeData/pull/26#issuecomment-240594764

[2016-08-22 07:20] sacdallago commented on #2
@jonas-he very good observation! Time+loc = AM/PM is indeed an important aspect. I believe though that the ML device should be able/learn to discriminate between day time and night time using geolocation + absolute time by itself.
In my personal view adding PM/AM as a feature might be redundant, even worsen the score of the prediction (or not contribute).

Thoughts on that @goldbergtatyana ?

[2016-08-22 07:23] sacdallago commented on #44
Can be closed, right @swathi-ssunder ?

[2016-08-22 07:23] sacdallago commented on #45
Can be closed?

[2016-08-22 08:00] goldbergtatyana commented on #2
for ML we would translate AM/PM in the corresponding 24h format. So anything is good.

Good job @jonas-he on spotting that :+1:

[2016-08-22 08:16] swathi-ssunder commented on #45
Yes :)

[2016-08-22 08:16] #45 closed

[2016-08-22 08:17] swathi-ssunder commented on #44
Yes.

[2016-08-22 08:17] #44 closed

[2016-08-22 11:41] jonas-he commented on #2
@sacdallago I was thinking the same sort of. Since AM/PM can be represented as a function of absoluteTime and location we're not really adding new information. But maybe the ML will figure out the patterns faster when given this additional feature. And as I heard: "The more data the better" regarding the ML.

[2016-08-22 12:41] sacdallago commented on #2
Who told you that @jonas-he ? :D
So, let me expand on the "the more data the better" claim:
More data is good, but too much [unrelated, redundant] data is bad. Why?
First: you have to train your model, and the more data or combinations of features you have to try, the more time it takes (computationally speaking).
Second: sometimes obtaining data is a long process (time, energy), and if the final

[2016-08-22 13:14] jonas-he commented on #2
I was told by @vivek-sethia because he took part in the ML introduction by @goldbergtatyana :smile:
Ok we'll add this feature :)

[2016-08-22 13:19] vivek-sethia commented on #2
@jonas-he  I mean that in the context of finding more features rather than restricting it by some self-assumption, that's what I understood from the class :-). Hope I didnt get it wrong @goldbergtatyana .

[2016-08-22 14:45] samitsv commented on #12
closed by #41

[2016-08-22 14:45] #12 closed

[2016-08-22 14:46] samitsv commented on #11
closed by #18

[2016-08-22 14:46] #11 closed

[2016-08-22 14:46] samitsv commented on #13
closed by #18 and #41

[2016-08-22 14:46] #13 closed

[2016-08-22 15:14] sacdallago commented on #2
You got it right @vivek-sethia , and also @jonas-he didn't say anything wrong :) I was just expanding on that catch-phrase with what I have learned so far :wink:
As I said, what I was explaining doesn't really apply to this case, it's just for you to remember in an industry-like setting or in cases where access to the data is super difficult or the complexity of the data blows up exponentially :)

[2016-08-22 23:04] jonas-he commented on #1
some interesting statistical data from pokeradar: https://docs.google.com/document/d/1iZeW3wt-h-L7v97FaDLSjqxFysTLQef92c1nNOqt3Tk/edit

[2016-08-23 06:47] swathi-ssunder commented on #7
1. For extraction from [PokemonGo Wiki](https://pkmngowiki.com/wiki/Pok%C3%A9mon), we will need to scrape the web-site.
   Is this okay or should we limit ourselves to data extraction only from APIs?
2. Also, some of the data present in the Wiki is also available through some other APIs. (This question is also applicable to other data sources.) So, should we also extract from here, so that we can

[2016-08-23 07:09] fabe85 commented on #1
This is indeed very interesting and I could imagine that this could also be very informative for ML. I would add this spawn feature represented as a percentage in a separate branch where I add all the other feature still missing.

[2016-08-23 08:15] gyachdav commented on #7
1. Yes extracting from the API is preferable. If there's data item that can only be fetched From free text then please confirm with us your strategy.

2: combining several APIs to get better coverage is a good idea. But you need to take care that the data remains consistent across the different sources. If there are conflicts you will need to resolve them. For instance keep in mind that there are

[2016-08-23 16:51] vivek-sethia opened #49 "Data extraction - Pokesniper - Appearances of Rare pokemons"

[2016-08-23 18:11] samitsv opened #50 "Schema of all the sources of pokemon data"
**Twitter Schema**
[code]

[2016-08-23 18:19] swathi-ssunder commented on #49
Refer #48

[2016-08-23 18:19] #49 closed

[2016-08-23 19:05] swathi-ssunder opened #51 "Represent latitude/longitude in standard format"
Refer https://github.com/PokemonGoers/PokeData/pull/48#issuecomment-241354821
Eg:  http://geojson.org

[2016-08-23 19:55] vivek-sethia commented on #50
**Pokesniper - Rare Pokemon Schema**

[code]

[2016-08-23 19:57] jonas-he commented on #1
- host: fastpokemap.se (api calls not working when calling URL manually, maybe has something to do with request headers)
  - api: https://cache.fastpokemap.se and https://api.fastpokemap.se
  - parameter: lat,lng

[2016-08-23 23:19] jonas-he commented on #50
PokeRadar Schema

[code]

[2016-08-24 03:21] sacdallago commented on #51
Nice :)

[2016-08-24 03:25] sacdallago commented on #50
@samitsv took the liberty to edit your comment to prettify the code

@PokemonGoers/pokedata I like this discussion. In my opinion, at the ond of the day, you should have **one** schema for all sources. But I guess that's what you were also thinking about

[2016-08-24 05:56] swathi-ssunder commented on #43
@vivek-sethia Can you pull 'env-db' branch and test it? If everything is working fine, then I will raise a pull request.
I have also created a separate service for database and used in the other files.

[2016-08-24 06:55] vivek-sethia commented on #43
@swathi-ssunder It works fine, you can raise a pull request.

[2016-08-24 07:31] sacdallago commented on #21
Ok.
- I set up an automatic build on docker. Every time you merge code into `develop` or `master` a build process will be spawned. You can see all of this on https://hub.docker.com/r/pokemongoers/pokedata/tags/
  1. `develop` will build a later version of `pokemongoers/pokedata:develop`
  2. `master` will build `pokemongoers/pokedata:latest` or simply `pokemongoers/pokedata`

Ideally you should be

[2016-08-24 07:34] sacdallago commented on #21
Hint: the execution of the command via `npm run listen` might not happen in the `workingdir`. I'm **NOT SURE** about that, but it's the first thing that pops to my mind.

Also: I'm missing still data in the ENV file, like database credentials for production (which is probably why I cannot get / ?)

[2016-08-24 07:34] sacdallago commented on #43
:D I just talked about this in #21

[2016-08-24 14:29] samitsv commented on #50
Common Schema decided:

[code]

[2016-08-24 15:29] sacdallago commented on #50
Why is `source` a `Number`? I suggest: keep it simple, make it `String` ;)

[2016-08-24 15:30] sacdallago commented on #50
P.S.: otherwise you have to map services to numbers, and vice versa

[2016-08-24 15:44] jonas-he commented on #50
The idea was to save disk space, as a Number is 8 bytes in size and e.g. "PokeRadar" encoded in UTF-8 is 9 bytes :smile:

[2016-08-24 16:34] jonas-he commented on #50
defined sources as follows (in the config):

[code]

[2016-08-24 18:19] swathi-ssunder commented on #21
1. Error: Cannot find module 'async'
   This error was because the async package was not included in the package.json. Maybe someone installed it locally without using a --save, so the package.json was not updated.
   I have corrected this in the package.json now.
2. Storing to the shared MLAB database was not implemented at the time I sent the env file and hence those credentials are missing in t

[2016-08-24 18:24] swathi-ssunder commented on #43
@sacdallago - Sorry, but I didn't quite get the relation of the comments in #21 to this issue.
I would be obliged if you could clarify this.

[2016-08-24 21:15] swathi-ssunder commented on #21
Have found some more issues with this, I am still working on them.

[2016-08-25 03:29] sacdallago commented on #21
@swathi-ssunder did you try out the build by pulling from hub.docker.com? Aka not by running `docker build` but directly by `docker run ...`?
Isn't it super cool?!?!?! :joy: sorry! But I'm always super excited about advocating docker! Once you realize how useful it is :stuck_out_tongue_closed_eyes:

btw, my script (this is not how I'm gonna do it in the end, but it was useful to try things out qui

[2016-08-25 03:34] sacdallago commented on #21
FYI.: The latest build exectues and terminates at the end (stopping the container).

[code]

[2016-08-25 03:37] sacdallago commented on #43
@swathi-ssunder nothing too important ;)

[2016-08-25 03:47] sacdallago commented on #50
@jonas-he I get it, this is a design decision rather than anything else... and it's a trade of: space over comprehensibility. But since we are in the era of [3TB for <100E in first-world countries](https://www.amazon.de/Blue-WD30EZRZ-Interne-Festplatte-Zoll/dp/B013HNYV42/ref=sr_1_2?ie=UTF8&qid=1472096370&sr=8-2&keywords=3tb) and LTE I don't think there's such a super huge need to sacrifice compreh

[2016-08-25 17:32] sacdallago opened #59 "Coding style"
Hey guys, i just came across this one example: https://github.com/PokemonGoers/PokeData/blob/develop/scripts/listen.js#L21

In the cases where the callback ends (either by calling an async function, or another callback) it is good practice to `return` the last executed LOC :)

Just keep this rule of thumb in your head: if I'm writing a function, i need to define a return.

In many cases it doesn't

[2016-08-25 18:17] phdowling opened #60 "Some basic documentation"
Hey guys, Project C here. We were told to collaborate with you on gathering data from the twitter streaming API and the regular twitter API, which we will apply sentiment analysis and some sort of anomaly detection to.

Could you give a basic overview of the status of this project and how to use the code? Is there some sort of way to include your work as a library and have some methods to call to

[2016-08-25 18:26] phdowling commented on #60
More specifically:
1. We need a way to query live tweets for all pokemon, and if they are location tagged, we also need the coordinates. Is this already implemented here, or do we need to do this?
2. We need to query the regular API for the same information to get historic tweets. Is this part of your project already?

[2016-08-25 18:57] fabe85 commented on #60
Hi Philipp,

up to this moment we plan to contribute an api which you can connect to. In addition, the twitter stream provides in fact live tweets filtered by some keywords like "pokemonfound". The coordinates are also provided by us in GeoJSON format, i.e. you get the longitude and the latitude. Right now if you want to trigger the database to collect tweets you can do that by typing "npm run lis

[2016-08-25 21:45] jonas-he commented on #60
1. Im not in charge of our twitter thing but as I understand it we use the twitter streaming API to find live tweets about pokemon sightings (by looking for certain hashtags and keywords). We then try to parse the tweet and find out which pokemon was seen, use the timestamp of the tweet and the geo location to write this to our database for pokemon sightings (for the db we also have other sources

[2016-08-25 22:19] samitsv commented on #60
@phdowling  hello there, i have implemented the tweeter streaming service. As of now, we store the historical tweets (starting from the day) and live tweets to the database using our schema which would include the source as a field so that you can differentiate which data is from twitter, the latitude and longitude of the tweet will be added if there exist in the tweet data, and the pokemon id. Th

[2016-08-26 05:28] vivek-sethia commented on #21
Thanks for sharing the log. Since the database credentials are missing, mongoose gets disconnected and hence the container terminates. Form what I understood is that we have to use environment file for passing such information.  This can be done by this command
`docker run --env-file /PATH/TO/ENV/FILE -p 49160:8080 --name apidev -d pokemongoers/pokedata:develop npm start`.

[2016-08-26 06:54] vivek-sethia commented on #59
I will ensure this for future commits.

[2016-08-26 07:09] swathi-ssunder commented on #21
@sacdallago - Using the below mentioned steps, I was able to get it running docker on my machine.
1. First I build the docker file locally using
      docker build -t <username>/<appname> .
2. After that , docker run command was executed
   docker run --env-file /PATH/TO/ENV/FILE -p 49160:8080 --name apidev -d <username>/<appname>
3. docker start -i apidev
   and the port started listening (the co

[2016-08-26 10:23] #59 closed

[2016-08-26 10:26] sacdallago commented on #21
That's weird.
Make sure the build on docker is the same as the one that you are using now (aka you are building from develop branch in git) and that when you pull from docker you pull the develop tag (`:develop` in a previous comment).

Run my script if necessary, so you delete all previous running containers and avoid name clashes

[2016-08-26 10:37] swathi-ssunder commented on #21
I am also not sure what is going on either.
I am using the exact same build as on docker(from develop).
And I am indeed deleting all previous containers. So it is equivalent to what is there in your script too.
The container shows as running. The only issue is that I am unable to access the URL from eg: Postman or Rest Client.

[2016-08-26 12:22] vivek-sethia commented on #21
@sacdallago  This might be a silly question. But even I tried doing the same thing, but I am not able to understand which url is to be used for calling the api which is hosted on the server using the docker. Since in the case of local, I was able to call it by `localhost:8080/api/pokemons` after `npm start`

[2016-08-27 02:30] sacdallago commented on #21
Nope. It is a different port!

[code]

Means: Port 8080 inside the container maps to port 49160 of the local machine.
Are you using osx by any chance? Because in Linux the above means `localhost:49160` = `container:8080`, but in osx the docker-machine gets some IP in the form `192..` meaning you can access it via `192..:49160`
To find out the address https://docs.docker.com/machine/reference/ip/ t

[2016-08-28 13:35] samitsv commented on #50
[code]

[2016-08-28 13:35] fabe85 commented on #51
Right now all seems to be working in terms of geojson so we decided to close this issue. If we come up later with some problems we open another issue (confer also #50)

[2016-08-28 13:35] #51 closed

[2016-08-28 13:35] #50 closed

[2016-08-28 13:37] swathi-ssunder commented on #43
@sacdallago It seems like this issue can be closed as the changes have been made. Hence closing this issue

[2016-08-28 13:37] #43 closed

[2016-08-28 13:38] fabe85 commented on #30
Right now we have a complete list of these features in json format. It is only some work to do about filling the database because in this very moment we use a somewhat outdated schema.

[2016-08-28 13:38] #30 closed

[2016-08-28 13:40] vivek-sethia commented on #7
Not required since we are extracting it from other sources.

[2016-08-28 13:40] #7 closed

[2016-08-28 13:40] samitsv commented on #2
#50 we have created a common schema for our database from where all the features required can be accessed

[2016-08-28 13:43] swathi-ssunder commented on #10
Working on this, the API as well as the API documentation.

[2016-08-28 14:01] jonas-he commented on #15
As of now after ~20 seconds of continuously scraping pokeradar my IP gets blocked (no responses received -> timeout) for about 1 minute, after that it works again.
So I came up with this strategy: at the start i collect a list of free proxies (with this module https://github.com/chill117/proxy-lists) then i filter that for working proxies (with https://github.com/scastiel/node-proxy-checker). Whil

[2016-08-28 14:03] vivek-sethia commented on #33
@sacdallago

As of now the scripts are as follows:
1. `npm start` - used for api set up.
2. `npm build` - used for building pokemon master details, info such as name, id , attacks etc.
3. `npm listen` - for listening the external api( such as Pokeradar, Pokesniper) and creating temporary files with the data. ( listening continuously)
4. `npm update` - reading the temporary files and storing the da

[2016-08-28 14:07] samitsv opened #68 "How the twitter pokemon go related tweets are being parsed"
- the application listens for stream of tweets related to keywords: 'pokemon catch,pokemon saw,pokemon attack,pokemon find,pokemon caught,pokemon attacked,pokemon found,pokemon appeared,#foundPokemon,#caughtPokemon,#pokemongo,a wild appeared until #pokemongo', where for keyword **pokemon caught** includes tweets like 'Was playing pokemon go.I caught Pikachu' and 'On the way home playing pokemon go

[2016-08-28 14:11] jonas-he commented on #14
see #15
closed.

[2016-08-28 14:11] #14 closed

[2016-08-28 14:14] jonas-he commented on #1
i think this are enough sources, listener script for pokeradar can easily be adapted to them. However I won't close it because i want to look up the sources in the future :)

[2016-08-28 14:38] gyachdav commented on #1
How many sources are being scraped then?

[2016-08-28 14:42] samitsv commented on #1
@gyachdav at the moment we have three of them: PokeRadar, PokeSniper and Twitter

[2016-08-28 14:51] gyachdav commented on #15
I installed [simple proxy](http://benalman.com/code/projects/php-simple-proxy/docs/files/ba-simple-proxy-php.html) on my account. you can try:

https://rostlab.org/~gyachdav/proxy/ba-simple-proxy.php
http://131.159.28.140/~gyachdav/proxy/ba-simple-proxy.php

I may be able to get to more hosts but need more time. @sacdallago has access to at least one more host (got.show).

[2016-08-28 15:12] jonas-he commented on #15
Ok thank you, works fine.

[2016-08-28 16:28] jonas-he commented on #15
ok tested e.g.:

http://131.159.28.140/~gyachdav/proxy/ba-simple-proxy.php?url=http%3A%2F%2Fwww.pokeradar.io%2Fapi%2Fv1%2Fsubmissions%3FminLatitude%3D33.969986180360344%26maxLatitude%3D34.016455319170184%26minLongitude%3D-118.4941577911377%26maxLongitude%3D-118.46025466918944%26pokemonId%3D0

which works fine. But my script does send about 100 of such requests per second and it seems like your pro

[2016-08-28 19:50] gyachdav commented on #15
the rostlab.org host seems to be fine now, but if you noticed such behavior then it seems it wont be able to handle a high response load. Better if we test the capacity of the host first before we continue otherwise we will be DoSing our own servers. 💣

@jonas-he have you tried ToR proxies?

@sacdallago, what do you suggest here?

[2016-08-28 22:39] jonas-he commented on #15
@gyachdav yes, for now i wont use your proxy anymore. Regarding using the tor network, this would of course be possible but then we would have to configure the tor software on the server and so on, then send the requests through our local SOCKS5 proxy. Maybe this is a bit overkill, especially with all the encryption going on ...
I also made improvements with the scanning technique: Now I implented

[2016-08-29 03:47] sacdallago commented on #15
Let's speak about potential:
I have another 49 unused LRZ public ip's I can potentially open and another 250 internal MWN ip's I can dispose of.
The two open ones from LRZ for now are the js.dallago.us and cell.dallago.us . In the US I have christian.dallago.us and in germany again (under another provider) I have amadeus.zucchitours.com and remote.zucchitours.com.
Needless to say, I'm under strict

[2016-08-29 04:01] sacdallago commented on #33
@vivek-sethia thanks for the info, nice to read.

I would suggest you merge the listen and update. From my standpoint (this might though have a reason to exist) It's not of much use to write temporary file and have two separate processes listen and update the data in the database.
So. Yes: go for the "update the database continuously".
It might be worth mentioning that when you spawn a write actio

[2016-08-29 04:01] sacdallago commented on #68
@juanmirocks

[2016-08-29 06:50] vivek-sethia commented on #33
@sacdallago Thanks for the inputs. In such case, we will only write to the database if we only have specified number of records( for e.g 100 ). Otherwise, if we write to the database for every data record then there will be too many database operations. Hope this is fine.

[2016-08-29 09:22] bensLine opened #71 "Feature list and and initial data set"
Hey @PokemonGoers/pokedata ,

we from @PokemonGoers/predictpokemon-2  were wondering if you can provide us with a list of all currently implemented features that you collect for a database entry, e.g.
`PokemonId, lat, lon, timestamp, ...`

Furthermore, it would be great if you can provide us an initial data set with those features. Currently we use the dummy data set which only provides distinct d

[2016-08-29 09:40] samitsv commented on #71
Right now we have a main database where we store data collected from different sources, the features in he database are **source,location, pokemonId, appearedOn**
- source: from where the data is collected(e.g. TWITTER, POKERADAR, POKESNIPER)
- location: the coordinates of appearance
- pokemonId: id of the pokemon
- appearedOn: the date and time when the pokemon appeared( (or tweet date in case of

[2016-08-29 09:45] swathi-ssunder commented on #71
@bensLine We are working on the API, using which you will be able to access all the data we have extracted so far.
We will update this issue once the API is up. This should be done latest by 30th EOD.

[2016-08-29 12:21] jonas-he commented on #71
@swathi-ssunder according to #2 we also plan on providing at least 2 additional features: **relativeTime** (time of day at the location of that sighting in "HH:MM:SS" format, already implemented in common.js) and something like a classification of the environment (not yet implemented).
I would say that we don't store theses values in the DB, but compute them when needed for an API call, because th

[2016-08-29 12:29] jonas-he commented on #15
@sacdallago what do you mean by "under the radar"? Should the traffic be rather low? The script consumes about 1 Mbps up and downstream each.
For the proxy authentication there is something like a basic HTTP authentication (which is of course not safe since it is not encrypted) or for apache you have a "Require ip" directive which only allows access from certain IP addresses. That would be an opti

[2016-08-29 13:47] gqinami opened #72 "Pokemon icons"
Hi there PokeData group :).

We from PokeMap will need to have the pokemon icons for all pokemons, and since they will probably be used throughout all the project, we will kindly ask you for a model to be created and an endpoint that will allow us to upload the icons.

Thanks,
Team D7

[2016-08-29 14:17] gyachdav commented on #72
Make sure we're allowed to use those. Please document all license requirements and including the attributions requirements.

[2016-08-29 15:44] bensLine commented on #71
ok, thanks for the update! @jonas-he will the environment feature be available at the 30th as well?

[2016-08-29 16:42] WoH commented on #71
Hey Guys, I'm from Project E, I'll add myself and @MajorBreakfast to the conversation if you don't mind since the results will be very important for us aswell.

[2016-08-29 18:13] jonas-he commented on #71
@bensLine probably not since im working on other things right now, but should be done by 31th.

[2016-08-30 04:50] sacdallago commented on #72
@PokemonGoers/pokemap-1 has already some icons which we can use. @PokemonGoers/pokedata you can tap into that: also, save on FS should be good enough as these are some really small files.

[2016-08-30 04:52] sacdallago commented on #72
HA! sorry @gqinami how stupid of me :D Anyway yeah, download them all https://github.com/PokemonGoers/PokeMap-1/issues/7 but I suggest you to keep a copy in your map project as well, so you don't need to go over an http request to fetch this data

[2016-08-30 04:58] sacdallago commented on #15
@jonas-he I can go with the Require-ip directive, actually I can also just implement it in my ip-tables!

1Mbps bursts or 1Mbps constant traffic? They have quite sophisticated ways of checking you, starting with the obvious # of requests to the same host +duration of request + interval between requests.

We can give it a try anyway. I just need to be told how to set these boxes up, I would start w

[2016-08-30 05:08] sacdallago commented on #33
@vivek-sethia sure, makes totally sense and I see why you would do that :) It's not an easy thing to take care of, but having temp files on the server is always scary (to me) :D

[2016-08-30 05:55] sacdallago commented on #21
I set up an automatic deployment on my own docker cloud ( http://pokedata.c4e3f8c7.svc.dockerapp.io:65014 ). It should get redeployed every time it is re-build.
Maybe in a few days I get to set it up so that it can be accessible from test.got.show, am waiting that that server get's green lights and then I need to set up the dedicated account on docker cloud.

[2016-08-30 05:58] swathi-ssunder commented on #21
Sure.:)
However this is currently responding with "Cannot GET /".
Is there anything to be done from our end?

[2016-08-30 05:59] sacdallago commented on #21
http://pokedata.c4e3f8c7.svc.dockerapp.io:65014/api/pokemon

[2016-08-30 06:00] sacdallago commented on #21
You should definetly do something about the default route! ( / ) :D
Maybe put the apidocs documentation on the root!

[2016-08-30 06:00] swathi-ssunder commented on #21
Ah. Sorry. I just tried with the old api.. /api/pokemons. I did not realise it is updated with the latest build.
Thanks :)

[2016-08-30 06:01] swathi-ssunder commented on #21
Sure, I shall do that.

[2016-08-30 06:02] sacdallago commented on #21
That's the whole point of having this pipeline :dancer: and not me having to redeploy the thing manually every time, because let's face it.. I'm super lazy :joy: :joy: :joy: :joy: :joy: :joy: :joy: :joy:

[2016-08-30 06:10] swathi-ssunder commented on #10
Refer #75

[2016-08-30 06:10] #10 closed

[2016-08-30 10:57] jonas-he commented on #15
@sacdallago 1Mbps constant for about 20 seconds then it drops to zero because pokeradar blocks me -> switch to next proxy and so on.

I dont quite get what you are worried about? Will you run into traffic limitations or do you fear that the server providers will allege us of DoS'ing pokeradar? Or are you not allowed to act as a proxy?

Three would be better :smile:
If youre already running apache

[2016-08-30 18:21] swathi-ssunder opened #85 "Redirect to documentation on default route"
Refer https://github.com/PokemonGoers/PokeData/issues/21#issuecomment-243341122

[2016-08-30 18:30] swathi-ssunder opened #87 "Docker Build failed due to warnings"
See https://hub.docker.com/r/pokemongoers/pokedata/builds/bb2rridsa82sbazsd5k5yce/

[2016-08-30 18:36] swathi-ssunder commented on #85
#86 merged

[2016-08-30 18:36] #85 closed

[2016-08-30 21:08] vivek-sethia commented on #33
@sacdallago I am planning to move the extraction functionality to execute on npm start. I tried running these commands on start:  `NODE_ENV=production node app.js | npm run listen --collection=rarePokemon | npm run listen --collection=pokeRadar | npm run listen --collection=twitter`

Though it works, they will be listening to the external api of the data sources indefinitely.
I would like to know

[2016-08-31 00:28] sacdallago commented on #87
You can avoid this by using Travis-ci (as you are using grunt anyway) which checks if the build works when you open up the PR (and not when it's merged).
If the build fails you can correct the PR previous to merging it :) it's a 30 minute change

[2016-08-31 09:58] sacdallago commented on #15
My problem is being labeled as DDoser :P nothing else!

Oh god, Apache. I feel like I'm back in the 90's :older_man:  ahahahah
I'll look into building up those machines soon enough, with that script... 3 it will be.

[2016-08-31 10:08] bensLine commented on #71
Hey @swathi-ssunder, is the API already up? :p

[2016-08-31 10:13] sacdallago commented on #33
@vivek-sethia I would separate API from listeners!
If one of the listener breaks (because the service is down, because some routes change, because whatever) the API will still be up if you don't mix them. Maybe you can mix them in a way that it would still work anyway, but it would still be mixing different concerns... And how would you restart the listening without tearing down the API?

With doc

[2016-08-31 10:18] swathi-ssunder commented on #71
@bensLine - The first phase of implementation is complete. However, we are facing some issues with the deployed build since yesterday. We are working on it. It should be fixed today and I will post the link to the API, with a detailed explanation of our implementation and also the data that will be available.

[2016-08-31 10:31] sacdallago commented on #71
@bensLine if you are super impatient you can check the status of the deployment via https://hub.docker.com/r/pokemongoers/pokedata/builds/

[2016-08-31 10:50] bensLine commented on #71
Thanks, I'm just curious ;)

[2016-08-31 11:05] jonas-he commented on #15
thanks for your effort! I think for a real DoS attack, my script doesn't produce enough traffic. However i can implement slight timeouts in between the requests if you want (also if you get a "fancy" email).

[2016-08-31 11:08] jonas-he commented on #15
another thing: when you configure iptables, can you add my IP to the whitelist? So i can test from home.

[2016-08-31 11:40] juanmirocks commented on #68
I would collect first a relatively reliable sample of 100 to 1000 tweets containing any of your suggested hashtags or keywords and also containing geolocation data. Based on that, you can manually study how those tweets are written and therefore design a better algorithm for the extraction of information. For example, it may well be that many of those tweets do not contain keywords such as 'caught

[2016-08-31 18:56] swathi-ssunder commented on #87
Travis-ci implemented.
Separate issues will be opened for writing tests, checking why docker logs are not being shown etc.

[2016-08-31 18:56] #87 closed

[2016-08-31 18:58] vivek-sethia commented on #33
@sacdallago - Sure, this is what we discussed. However, I raised this question as one of our team members came up with this suggestion and we wanted to confirm.
The API will be separate from the listeners!

[2016-08-31 18:58] #33 closed

[2016-08-31 21:26] swathi-ssunder commented on #60
@phdowling - You could refer to the API [here](http://pokedata.c4e3f8c7.svc.dockerapp.io:65014/).

[2016-08-31 21:26] #60 closed

[2016-08-31 21:27] swathi-ssunder commented on #71
@bensLine - The API is [here](http://pokedata.c4e3f8c7.svc.dockerapp.io:65014/).

[2016-09-01 05:26] sacdallago opened #105 "POST / PUT requests"
Hey guys,

from the post on GGroups it appears that you want to open up the API to post requests. For me this is a big deal and it changes the API quite a lot... Just to give you a few points:
- With only GET requests, operating the API (not the listeners) would not need a RW database user. So potentially everyone could spawn the API using a RO user to some centralized db that you provide in a moc

[2016-09-01 09:04] MajorBreakfast opened #106 "Filter options"
What kind of filter options do you intend to support?

- `coordinates`
- `range`

What else?

MajorBreakfast (Project E)

[2016-09-01 09:08] MajorBreakfast opened #107 "Implement and publish PokeData JS API"
The discussion about the API happens at https://github.com/PokemonGoers/Catch-em-all/issues/23 and I hope you all join us!

After the API spec has settled you're going to have to implement and ship it as an npm package, so that the map teams and us, the UI team, can use it. This of course is a lot of work, however, we, the UI team, will just use a stub implementation until you provide us with your

[2016-09-01 10:29] jonas-he commented on #105
@sacdallago this idea came up, because it was requested that we provide methods for uploading icons for pokemon, see #72 . From my side it would be a lot easier if they just send us a ZIP and we integrate it into the DB.

[2016-09-01 11:52] bensLine commented on #71
Hey guys, thanks for the API! We have much more data now to work with :)
@jonas-he can you name already the additional features you'll add to the poke data? so that we do not implement the same features.
you named before **relative time** and **evnironment**. If you have more details please let us know.

[2016-09-01 12:02] sacdallago commented on #105
Yes. Please do that

[2016-09-01 12:20] jonas-he commented on #72
@gqinami Please provide us with the icons (e.g. send me an email to jonas.heintzenberg@tum.de or upload to your favorite filehoster) and we will integrate them into the DB and create an API call to request them.

[2016-09-01 15:25] jonas-he commented on #105
Requested icons from PokeMap group.

[2016-09-01 15:35] gyachdav opened #108 "Evolution data"
tried
http://pokedata.c4e3f8c7.svc.dockerapp.io:65014/api/pokemon/evolution/prev/name/Voltorb

Resp:
{
 "message": "Success",
    "data": [
        {
            "_id": "57c7433d7db332a41b06d7c5",
            "maxHP": 1646,
            "maxCP": 1496,
            "fleeRate": 0.06,
            "classification": "Ball Pokèmon",
            "name": "Electrode",
...}
]
}

whereas [cannon](http://bulbap

[2016-09-01 15:36] jonas-he commented on #107
@MajorBreakfast I think youve already seen our first version of the API as you already mentioned it in your other post. You don't have to use a stub implementation, you simply have to call these URLs like http://pokedata.c4e3f8c7.svc.dockerapp.io:65014/api/pokemon/sighting/source/POKESNIPER. Why would you want to blow that up into a whole package?
Also in your architecture you got something slight

[2016-09-01 15:46] sacdallago commented on #107
Yup @MajorBreakfast you are mixing up things a bit.
PokeData IS the API, this is where you or any other team (map, predictions,...) Get their data :)
It doesn't make sense that the map people use this as an npm package, they should just use the API calls to get the data, should some calls be missing they can coordinate with this project to implement the new routes and where to get the data from.
T

[2016-09-01 15:55] jonas-he commented on #108
@gyachdav indeed, theres a mistake in our logic, im looking into this.

[2016-09-01 15:56] swathi-ssunder commented on #108
@jonas-he - The problem is not with the logic, but rather with the naming, as @gyachdav rightly pointed out. And this has led to the confusion in interpreting the API response.
So we can change it as per the suggestions.

[2016-09-01 16:12] MatthiasBaur commented on #71
Hello,
would you consider switching from Longitude/Latitude to Latitude/Longitude? I think it is the standard formatting.

[2016-09-01 16:24] MajorBreakfast commented on #107
@jonas-he
@sacdallago
Let's keep the discussion in PokemonGoers/Catch-em-all#23

[2016-09-01 17:36] swathi-ssunder commented on #17
The results of the preliminary phase can be found [here](http://pokedata.c4e3f8c7.svc.dockerapp.io:65014/doc/).

[2016-09-01 17:36] #17 closed

[2016-09-01 18:14] gqinami commented on #72
Hi @jonas-he,

I sent you the email with the icons for original pokemons (151) in .gif format. All the files are named as per pokemon name.

Thanks,
PokeMap1 group

[2016-09-01 18:14] jonas-he commented on #108
@gyachdav its fixed now. also these API calls will only return the direct next/previous evolution, not all of them.

[2016-09-01 18:44] samitsv commented on #68
@juanmirocks thank you for your feedback. The above strategy was designed after having looked into many tweets related to catching or sighting of pokemons. And so these keywords deliver the notion related to pokemon sightings in pokemongo. Ofcourse some other synonym keywords could be added, but I don't think just a tweet with pokemon's name can be relevant in pokemon sighting. But rather "I saw p

[2016-09-01 18:57] gyachdav commented on #108
LGTM

[2016-09-01 18:57] #108 closed

[2016-09-01 22:43] Aurel-Roci opened #110 "Json field name missmatch"
Hi guys, I noticed that the pokemonId field has two different names:
pokemonId
pokemonID
Can you fix this?

Thanks

[2016-09-02 05:57] swathi-ssunder commented on #110
@Aurel-Roci - Hey, I had noticed this issue on 31st and fixed it. So if you tested this on 31st, then yes, this discrepancy existed.
See https://github.com/PokemonGoers/PokeData/commit/e59655475c1538e6261b558b1bfc6520e4b35b3e

I also tested the api responses now and could not find the discrepancy. It should be **pokemonID** everywhere.
So could please tell me where you are getting **pokemonId**?

[2016-09-02 07:22] Aurel-Roci commented on #110
@swathi-ssunder  On the last 600 entries it is pokemonId. Also right before these 600 there are 7 entries the have no location coordinates.

[2016-09-02 07:32] MajorBreakfast commented on #107
The app team will develop the PokeData JS API

[2016-09-02 07:32] #107 closed

[2016-09-02 07:54] MajorBreakfast opened #111 "PokemonSighting queries"
Today, when I browsed through the JSON API documentation, I noticed that it is possible to query all PokemonSightings without a filter. I doubt that this will scale well. There should always be a limit on region and time. Currently it is also not possible to have both at once.

Here's an idea:
`/api/pokemon-sightings?rect=:tlLat,:tlLon,:brLat,brLon&time-span=:fromTime,:toTime`

`tl` = top left
`br

[2016-09-02 08:06] swathi-ssunder commented on #110
@Aurel-Roci - Thanks, found them. It should be fixed now.
Regarding the entries without location coordinates, they would be from Twitter,for which location is not available.
@samitsv

[2016-09-02 08:57] Aurel-Roci commented on #110
@swathi-ssunder Hey, sorry to bother again, but there is something else that is causing us some problems.
The json property order changes e.g.:

[code]

Can you fix this?

[2016-09-02 09:37] swathi-ssunder commented on #110
@Aurel-Roci - There is no need to be sorry:)

Will try to get this fixed. However, since it is JSON and not an array(where indices do matter), it shouldn't really matter from the point of view of accessing the data.
Just curious to know how this affects !!

[2016-09-02 09:40] jonas-he commented on #110
A JS Object is an "unordered set of key/value pairs". "You cannot and should not rely on the ordering of elements within a JSON object." http://stackoverflow.com/questions/3948206/json-order-mixed-up

[2016-09-02 09:41] jonas-he commented on #111
@MajorBreakfast we are aware of that issue and plan on implementing a limit or similiar.

[2016-09-02 09:55] Aurel-Roci commented on #110
@swathi-ssunder Since we are converting this data into .arff if the order of the entries is different the program we are using for ML (Weka) will not open the file.

@jonas-he  I read when I was trying to fix the order on my part, but still I think you should be able to store the order of the fields, since for most of the part the order is the same.

[2016-09-02 12:30] fabe85 commented on #72
After the pokemon icons are now inserted into our develop branch with the corresponding adaptations in the remaining code (especially filler/pokemon and store/pokemon) we can close this issue now.
If some problems or further requirements are due to do we can create a follow-up issue.

[2016-09-02 12:30] #72 closed

[2016-09-02 12:56] samitsv commented on #72
@gqinami please look into our api doc for getting pokemon icon by id, http://pokedata.c4e3f8c7.svc.dockerapp.io:65014/doc/#api-Pokemon-GetIconById, it gives base64encoded string which needs to be decoded when fetched

[2016-09-03 01:54] sacdallago commented on #72
@samitsv oh wow, why don't you directly push the image back as a binary file and skip the decoding phase?

[2016-09-03 07:34] sacdallago commented on #110
Sorry for the super late jumpin, can you make it `pokemonId` with small `d`? The capital D doesn't make sense in camel-case :)
And yes, there's no ordering in the attributes inside an obj :) not even sure all values have all'attributes, that's why it's non-sql

[2016-09-03 08:30] fabe85 commented on #110
Just created a new branch called "pokemonIdRenaming" to make this fix.

[2016-09-03 11:21] swathi-ssunder opened #114 "DB Migrations to rename pokemonID to pokemonId"
Collections to be migrated:

1. pokemon
  - pokemonID
  - nextEvolutions.pokemonID
  - previousEvolutions.pokemonID

2. pokemonsighting
  - pokemonID

3. pokemonicon
  - pokemonID

[2016-09-03 11:22] swathi-ssunder commented on #114
DB Migration scripts written and executed on the shared database in MLab

[2016-09-03 11:22] #114 closed

[2016-09-03 11:23] swathi-ssunder commented on #110
Code changes and also db migrations have been done.
@Aurel-Roci , @sacdallago - The field is now called **pokemonId**

Refer #113 and #114

[2016-09-03 11:23] #110 closed

[2016-09-04 10:01] swathi-ssunder commented on #21
@sacdallago - Maybe we can close this issue now ? :)

[2016-09-04 10:07] vivek-sethia commented on #21
@sacdallago We still have to run our listen scripts on Docker so data can be stored continuously from different sources like twitter, pokerdar, pokesniper, skiplagged, pokecrew.

[2016-09-04 10:40] jonas-he commented on #15
any news @sacdallago ?

[2016-09-04 14:33] johartl opened #117 "Inconsistency of GetAllSightings response format"
**Request**

`curl http://pokedata.c4e3f8c7.svc.dockerapp.io:65014/api/pokemon/sighting/`

**Expected output**

[code]

**Actual output**

[code]

The response contains the sighting objects directly rather than being wrapped in a `{ "message" :"Success", "data": [...] }` object.

[2016-09-04 14:35] johartl commented on #117
The same holds true for the _GetAllPokemons_ route.

[2016-09-04 14:38] jonas-he commented on #1
@gyachdav Currently we have implemented: pokeRadar, pokesniper, twitter, pokecrew, skiplagged, fastpokemap (work in progress) however they are not being scraped atm because @sacdallago has to setup the servers and everything...

[2016-09-04 14:51] swathi-ssunder commented on #117
See #118

[2016-09-04 14:51] #117 closed

[2016-09-04 14:54] swathi-ssunder opened #119 "Pagination for the api calls"
Currently the api responds with all the records, without any limit. In this case, the api response will never be complete and hence the api will actually become unusable.
The reason the apis are currently working is because the listen scripts are not running indefinitely, due to which there are just finite records in the db.

So there needs be a way to query the records in pages, eg: Say 1 to 1000

[2016-09-04 15:05] swathi-ssunder commented on #105
@sacdallago - Currently, we only have the option of searching by one field in the apis.
Example: http://pokedata.c4e3f8c7.svc.dockerapp.io:65014/api/pokemon/id/1 gets the Pokemon with id 1. There is the option to filter by other fields such as type, gender etc.

However, we need to support filtering by multiple parameters.
1. We can do this using a GET request with Query parameters like **/api/pok

[2016-09-04 15:08] swathi-ssunder opened #120 "Requirements for second phase"
@sacdallago, @gyachdav  - We are working on the issues raised.
Meanwhile, we would like to know if there are any other specific requirements/expectations for the deadline on 7th September.

[2016-09-04 16:22] sacdallago commented on #105
This is an understandable problem.

The standard answer [would be no.](https://en.m.wikipedia.org/wiki/Representational_state_transfer) (No as in GET is to get, POST is to update/create/ eventually delete).
I would also be for the no.

I know that in this case the POST would not operate in CUD of CRUD, but still: it is semantically wrong and conceptually misleading.

I am not saying you must not d

[2016-09-04 16:32] sacdallago commented on #120
You can always come up with new data sources, but I believe that there will be requests from other groups, adjustments, bugs and improvements that need to be handled on what you have till now.

I will talk to the other mentors in these days and see if there's anything more specific :) but you are doing an excellent job guys ;)

[2016-09-04 16:38] sacdallago commented on #119
It's an important issue, because API calls are stateless thus the pagination should happen in the client. A nice approach would be to set a hard limit (100 results?) and then add a query parameter defining the upperbound in term of timestamp (because your records are time-bound) for that limit. I was actually not the only one having this idea (see first answer): http://stackoverflow.com/questions/

[2016-09-04 16:41] sacdallago commented on #1
@gyachdav didn't want to do this before we had the node in rostlab because migrating is just another headache and setting it up twice is no fun either..

[2016-09-04 16:46] sacdallago commented on #15
@jonas-he no, sorry :( it's part me, part other people :D I'll try to solve the me part asap

[2016-09-04 16:48] sacdallago commented on #21
@vivek-sethia yup that is no big issue, I was just hoping the chair's node would be up by now.. I'll try to set up some temporary thing tomorrow, although I hate temporary

[2016-09-04 16:48] #21 closed

[2016-09-04 19:42] gyachdav commented on #120
Excellent job indeed!

I would like to see massive and continuous read-in from of all sources. I saw today that PokeRadar has summed up over 10M data points. How many sightings are currently stored in our API? **Of course the continuous scraping should only take place when the rostlab server is setup**.

I will also like to see some statistics about the data you aggregated. This requirement is not

[2016-09-04 20:05] gyachdav opened #121 "Statistics on aggregated data"
I played around with the data and started a google spreadsheet

https://docs.google.com/spreadsheets/d/1EFkw-_pS6G4rajmR85zqM1CBku2xxUQVoeECFU3cbWM/edit?usp=sharing

From the spread sheet you can see that there is a distinct correlation between CP and HP, but no pattern is found when trying to plot CP, weight and height.

It would be interesting to see some statistics for (not an exhaustive list *

[2016-09-04 20:06] gyachdav commented on #120
#121

[2016-09-05 05:53] semioniy commented on #71
Hi, @PokemonGoers/pokedata, PredictPokemon team here.
We have a couple of questions about your API and would be grateful to get the answer.
Does your API always return about 2500 entries? If yes, can that limitation be iliminated? 2500 is not really enough.
And second, we got some data through your API, but the distribution of time there seems to be a little bit "unnormal".
![dis](https://cloud.gi

[2016-09-05 07:34] sacdallago commented on #21
@vivek-sethia  I deployed the twitter listener but none of the others, because: which other listeners can I implement without having to set up the proxy story?
I should be able to do this by tomorrow (the ones without proxy) and then the one with the proxy we will see as soon as I can set up the proxies...

[2016-09-05 09:24] phdowling opened #122 "npm run build throws error"
See here:
[code]

[2016-09-05 09:25] phdowling commented on #122
Note that this was a fresh clone, after running npm install. Is this a bug, or should I be installing differently?

[2016-09-05 09:52] phdowling commented on #122
Had to update my node installation, nevermind. Closing.

[2016-09-05 09:52] #122 closed

[2016-09-05 10:04] jonas-he commented on #111
Closed, see #119

[2016-09-05 10:04] #111 closed

[2016-09-05 10:34] phdowling commented on #68
I'm playing around with your twitter stream at the moment, and I would actually suggest tracking all pokemon names first, an then checking if the tweet was pokemon go related - I think currently you are missing a lot of relevant tweets.

I'm locally changing some stuff in the twitter module since we are dependent on a twitter stream as well, so I will probably just open a PR on this.

[2016-09-05 10:42] vivek-sethia commented on #21
@sacdallago As of now, `rarePokemon` listener can also be started as it is not dependent on proxy.

[2016-09-05 10:45] phdowling commented on #68
Here's an example of just a few seconds of tweets with the new filter:

[code]

As you can see, a lot of bots already tweet pokemon sightings, but they only geo-tag them in encoded urls. Maybe we can still find a good way to leverage this though

[2016-09-05 10:46] jonas-he commented on #21
@sacdallago all other ones can also be deployed (no need to adapt anything), it will just be slower without proxy. Also as the Machine Learners want more data (see #71 ) this would be a good idea.

[2016-09-05 10:59] jonas-he commented on #71
@semioniy the only reason that there is so few data is that the server where all the listening and gathering of data takes place hasnt been set up yet (or is about to be set up, see #21).
Once we have that running we will get in the order of 50,000 sightings per 15 minutes, so we will adapt the API to deliver all sightings in a specified time range up to a certain upper bound (e.g. 1000 sightings)

[2016-09-05 11:09] gyachdav commented on #68
Seems like you're getting the Lon/Lat on the gmap.  Should be straight forward to use gmap API to pull out those coordinates.

[2016-09-05 11:25] gyachdav commented on #71
I like those numbers :)

However do not use pagination on the API this is just bad practice. Instead have a limit number of sightings by default. Then privide controls to limit

[2016-09-05 11:28] gyachdav commented on #71
(Sorry pressed the comment button by mistake )

... Then provide controls to limit the number of sighting whether by count, area, period or payload size in Kb).

[2016-09-05 11:52] jonas-he commented on #119
Guys thoughts in #71 :

[2016-09-05 11:53] jonas-he commented on #71
@gyachdav quoted your thoughts in the appropriate issue #119

[2016-09-05 11:58] samitsv commented on #72
@gqinami  the GetIconById api is changed: http://pokedata.c4e3f8c7.svc.dockerapp.io:65014/doc/#api-Pokemon-GetIconById, the requester gets the pokemon icon as binary data directly
http://pokedata.c4e3f8c7.svc.dockerapp.io:65014/api/pokemon/id/1/icon

[2016-09-05 14:16] sacdallago opened #125 "Production database"
Hey guys, question: if I don't define the username and password for the production database (the `MLAB` env vars) how will the connection string be constructed?
I say this because the database will grow a lot and I'm thinking it makes more sense to move this to a private thing where we can have >500mb, but the way I set it up is sia firewall/iptables, thus the uri is something like `mongo://10.12.

[2016-09-05 16:08] jonas-he commented on #125
@sacdallago Assuming your running in production mode the string will look like `mongodb://undefined:undefined@10.12.34.56/collection` because the code looks like this:

[code]

[2016-09-05 21:59] vivek-sethia commented on #119
Christian thoughts :

Guys thoughts :

Both the thoughts are asking to avoid pagination in the API but asking to keep the limit by default but in that case how would the Machine learning team get all of the sighting data?  So they will query in iteration with the page number as we know the set of records to be fetched ( since we know the default size, assume 100 records). Am I on the right track

[2016-09-06 05:23] vivek-sethia opened #129 "Data from Pokesniper"
@gyachdav @sacdallago @jonas-he  The `appearedOn` collected from `pokesniper` data source contains the time when the pokemon was last seen as opposed to other sources like pokeradar, pokecrew where it has the time when the pokemon actually spawned. As far as I know from some articles that the pokemon stays for 15 minutes at a place after spawning. So should I subtract 15 minutes from the time for

[2016-09-06 05:30] sacdallago commented on #129
To me that sounds reasonable. I am still wondering how it is possible that they have an absolute init or terminal time

[2016-09-06 05:41] sacdallago commented on #119
I'm not thinking about the ML guys for a moment, I'm thinking about the standards and best approach. I like the #111 idea but I would anyway implement a hard limit on the results that can be "overwritten" using a time-based feature.

For the ML guys, worst case scenario, they get a dump of the DB to work with! Advantages of working directly with the people collecting the data :dancer:
They are any

[2016-09-06 05:49] sacdallago commented on #125
@jonas-he thanks, so according to the #128 this should now be fixed.
I hadn't really tried, but you know after some years working with these things I can _predict_ what might go wrong ahah

[2016-09-06 05:59] sacdallago commented on #72
They are so cute! :heart_eyes:

[2016-09-06 06:00] sacdallago commented on #71
Yep let's follow up on #119

[2016-09-06 06:00] #71 closed

[2016-09-06 06:02] sacdallago commented on #68
@gyachdav not so straightforward but doable! If you are at 31 something ave, you might be listed to be at 37 somthing ave, but good enough. It's called reverse geo-coding, someone implemented it yesterday somewhere... BAM: https://github.com/PokemonGoers/PredictPokemon-2/pull/19

[2016-09-06 06:05] sacdallago commented on #68
Oh, and if on the other hand the problem is encoding an address in lat/lng, then it's geo-coding:

[code]

:D man, working for a company without a cent to spend on fancy APIs to query locations does pay out at some stage :D :D

[2016-09-06 06:07] sacdallago commented on #21
I will do this then.. Can someone update me on database growth and stuff? If we hit the 500mb limit on mlab shit hits the fan

[2016-09-06 07:25] gyachdav commented on #119
@sacdallago - yes, confirmed.

Just to sum up:
1. no pagination in the API
2. sightings are limited by default (I suggest last 2500)
3. set location/time/size limits
4. no special consideration should be made when designing the API for the ML effort (they may just get a data dump)

[2016-09-06 07:26] gyachdav commented on #121
Assigning to @vivek-sethia so he can re-assign to appropriate team member.

[2016-09-06 08:51] samitsv commented on #68
@sacdallago @gyachdav @phdowling I have implemented in this way here https://github.com/PokemonGoers/PokeData/pull/127
- the links provided in the tweet poin to google maps with the latitude and longitude
- i fetched the latitude and longtitude linked by the https://t.co... link related to the tweet

[2016-09-06 09:24] jonas-he commented on #129
@vivek-sethia i am also subtracting 15 minutes for my sources if the specify something like `expire_At`

[2016-09-06 09:28] jonas-he commented on #129
@sacdallago dont quite get your question. At one moment in time there are lets say thousands of pikachus all over the globe. And if they wouldnt expire then after some days everyone would know that theres a pikachu which would make it kind of boring.

[2016-09-06 09:50] jonas-he opened #130 "How the additional features should be stored"
I have implemented two additional features: `relativeTime` (which gives time of day at a given location and UTC time) and `environment` (which gives a classification of the environment at a given location according to this scheme http://glcf.umd.edu/data/lc/).
For that i have written two functions in `/app/services/common.js`. Now the question is if we want to expand our schema for the database an

[2016-09-06 09:53] gyachdav commented on #129
@jonas-he that sounds reasonable in principal although time of sighting does not mean spawn+15, it's more like spawn + x | 0 &#8804; x &#8804; 15. not quite sure how we account for that. ideas?

[2016-09-06 10:45] bensLine commented on #130
@jonas-he nice job, thanks! :) looking forward to use the new features for our data!

[2016-09-06 14:35] semioniy commented on #130
@jonas-he the environment feature is really cool. Thanx!

[2016-09-06 19:05] jonas-he commented on #129
@gyachdav most of the sites where we get the data from run scanners or base their predictions on scanners. Scanners are using reverse engineered API to Niantic servers and thus they deliver the exact data from the game, meaning either the exact spawn or despawn time.

[2016-09-06 20:15] gyachdav commented on #129
Except for pokesniper which gives you sighting time? Can you cross reference between pokesniper and other sources?

Btw, Using Niantic data may become a problem down the road.

[2016-09-06 20:33] vivek-sethia commented on #125
@sacdallago Since #128 is merged with develop, closing this issue.

[2016-09-06 20:33] #125 closed

[2016-09-06 20:51] jonas-he commented on #129
@gyachdav No pokesnipers gives you the exact expire time. This is why we subtract 15 minutes from that to get the appearedOn time.
I checked this by looking at one entry from pokesnipers, then i run a scanner at this location (either through fastpokemap.se or on my own pc, see https://github.com/PokemonGoMap/PokemonGo-Map) and check if the time from pokesnipers is equal to the expire time given by

[2016-09-06 21:54] samitsv commented on #121
- added histogram of CPs/HPs

[2016-09-06 23:44] jonas-he commented on #1
https://www.pokemap.net/
Their API is somehow obfuscated/encrypted. So would have to be reverse engineered to get the pokemons. Or use something like a browser emulator like phantomJS or selenium.
Dont know if its worth the effort.

[2016-09-06 23:57] jonas-he commented on #1
https://pokelocate.io/
only for toronto

[2016-09-07 09:51] jonas-he commented on #106
refer to #131

[2016-09-07 09:51] #106 closed

[2016-09-07 14:22] #68 closed

[2016-09-07 15:28] swathi-ssunder commented on #105
GET apis being implemented for search by multiple parameters.
Refer #131.

[2016-09-07 15:28] #105 closed

[2016-09-07 22:09] jonas-he commented on #1
Pokemon sniping sites:
http://pokesniper.org/
http://pokezz.com/
https://pokedexs.com/
Pokemon Live map:
https://pokeraider.com/

[2016-09-08 10:00] jonas-he commented on #130
@sacdallago any thoughts on this?

[2016-09-09 00:21] sacdallago commented on #130
Sorry. I read through this the first time but somehow forgot to answer. I'm getting old.

The idea is great, but I worry that this is out of scope.

If you want to imement it, definetly go with option two, but since this data is necessary only for the predictions, it should be encapsulated in their projects (as in: they associate a lat/long with terrain features internally, maybe by having a look

[2016-09-09 00:23] sacdallago commented on #130
Oh. The above applies to the environment data, but for the relative time, I believe you can nest it in the original objects when you return (so, option 1)

[2016-09-09 09:57] #119 closed

[2016-09-09 09:58] vivek-sethia commented on #129
Done #132

[2016-09-09 09:58] #129 closed

[2016-09-09 18:43] fabe85 commented on #121
https://docs.google.com/spreadsheets/d/1n93UaFEdUqtC7_nF-oK1hAPO2BJx-413PXAHC1uY2bU/edit?usp=sharing
google sheet for histogram of  # of attacks and # of attacks vs maxCP

[2016-09-09 18:58] vivek-sethia commented on #121
@fabe85 the plot says that x-axis represents name but those are listed with numbers. So what does it stand for? Does y-axis stand for the count ? If yes then, why are there only 10 numbers on the x-axis?

[2016-09-09 19:03] fabe85 commented on #121
@vivek-sethia Oh sorry the axis labels are wrong. I will change that.

[2016-09-10 17:26] johartl opened #136 "getPokemonByName: Partial search"
In the app we would like to display a search bar which lets you query for Pokemon names. For this we will send a request to the `getPokemonByName` route and show the results in a list.
Ideally the search bar already shows suggestions as-you-type. The current API, however, will only return results if the entire Pokemon name matches exactly. Would it be possible to also return matches if the search

[2016-09-10 20:38] swathi-ssunder commented on #136
@johartl - The first requirement is quite straight-forward, and can be done using regular expressions in MongoDB queries. I tried a sample query and it works.

The second one, regarding partial/fuzzy string match, however seems to need something like [ElasticSearch](https://www.elastic.co/guide/en/elasticsearch/reference/current/query-dsl-fuzzy-query.html).
I am looking into other alternatives of

[2016-09-10 21:00] phdowling commented on #136
If you're only suggesting for like ~150 pokemon, then I suggest you forget
about using elastic search - just compute the hamming distances in memory,
or think of a simple matching algo. ES is a pretty big dependency!

On Sep 10, 2016 10:38 PM, "Swathi S Sunder" notifications@github.com
wrote:

[2016-09-10 21:05] johartl commented on #136
I guess we could as well just retrieve all Pokemon once and do the search on the mobile device. No need to call the API at all?

[2016-09-11 02:29] sacdallago commented on #136
Agree with @phdowling , ES is a bit too much. I know that mongo doesn't have an out of the box solution for it, and running a brute force alg with substitutions for each character is pretty demanding.
But the hamming distance idea sounds like a good one, especially because we only have 151 names and computing it against this list should be quick.
An additional thing to keep in mind for the simple

[2016-09-11 19:49] farisca opened #139 "Pokemon name/image in GetSightings methods"
Hello, I have a question regarding GetSightings* methods. Since the number of sightings can be sometimes really huge, it would be quite slow to fetch data on that pokemon, for each of the sightings, in order to show its image on the map. Could you provide us with the link to the image (or at least the name of the pokemon) in the response to the GetSightings* methods?

[2016-09-11 21:06] jonas-he commented on #1
Also has statistics about spawn points
https://pokemonradar.de/

[2016-09-11 21:16] phdowling opened #140 "Preferred way of importing?"
Hey guys,

I make use of the Twitter stream you open in your project. Currently I import it by cloning your repo to a certain location and doing an import of the file the stream is opened in:
[code]

However, for production, this of course needs to change - is your project on npm already? How should I expect to import the module I need? Also pinging @PokemonGoers/catch-em-all for this.

[2016-09-12 14:04] jonas-he commented on #139
@farisca in every sighting you have a "pokemonId". When you have this id you simply have to put it in this URL http://pokedata.c4e3f8c7.svc.dockerapp.io:65014/api/pokemon/id/:id/icon
So for instance for a bulbasaur (id = 1) sighting you have to look up http://pokedata.c4e3f8c7.svc.dockerapp.io:65014/api/pokemon/id/1/icon

[2016-09-12 14:19] samitsv commented on #140
we do not have a plan to ship a npm package, and if you want get the data generated by twitter, then you can do so using http://pokedata.c4e3f8c7.svc.dockerapp.io:65014/doc/#api-PokemonSighting-GetSightingBySource  or http://pokedata.c4e3f8c7.svc.dockerapp.io:65014/api/pokemon/sighting/search?source=twitter

[2016-09-12 14:19] vivek-sethia commented on #136
@johartl   So are you guys implementing Hamming distance algorithm after fetching all of the pokemon names Or should we implement it on ur API side?

[2016-09-12 15:48] phdowling commented on #140
The REST API won't do in this case, we need live tweets, i.e. the raw feed. I guess we can just start a seperate feed in our own module and be fairly independent from yours there. Another way to go would be for us to PR the code we wrote into your repo, then we could access all data sources freely - not sure what the best way to go is here. @gyachdav or @sacdallago , any suggestions here?

[2016-09-12 17:38] fabe85 commented on #121
google sheet for top 25% of pokemon sighting, major sighting sources, distribution of types, resistance and weakness
https://docs.google.com/spreadsheets/d/1mmy382caE5mCpKq021AhKawqvJCKB7UkBNfmSPJAsnQ/edit?usp=sharing

[2016-09-12 18:18] johartl commented on #136
@vivek-sethia It would be nice if you guys could take care that. This also seems more like a backend topic to me. But let me know if you need help :)

[2016-09-12 19:55] gyachdav commented on #140
I recommend you stick with analyzing the Streaming API on your own, separated from project A.

[2016-09-13 03:58] sacdallago commented on #140
@phdowling yup, I would suggest you create a npm package that the guys from A can use on the tweets to perform the sentiment analysis. They are listening to the tweets anyway, I imagine it to be something like adding a function (from your package) which calculates the score, deffer a write to a dedicated collection (`{tweetId: xyz, sentiment: +1.2}` and that's it.

Or, eventually, the guys from A

[2016-09-13 04:28] sacdallago commented on #136
Agree: it's a backend issue :)

[2016-09-13 09:31] samitsv commented on #140
@sacdallago raw tweets are not being stored

[2016-09-13 17:03] AlexanderLill opened #141 "Additional data for PokeDex: Description"
Hello everyone,

following up on [https://github.com/PokemonGoers/Catch-em-all/issues/12#issuecomment-246510300](this comment) I have the following request for the PokeDex, which will show the information provided through your API. I opened a new issue as it seems that #1 is more about the data for the prediction part, and not about textual data.

We think it would be great to have a "description"

[2016-09-13 17:04] AlexanderLill opened #142 "Additional data for PokeDex: Pokemon Description"
Hello everyone,

following up on https://github.com/PokemonGoers/Catch-em-all/issues/12 I have the following request for the PokeDex, which will show the information provided through your API. I opened a new issue as it seems that #1 is more about the data for the prediction part, and not about textual data.

We think it would be great to have a "description" field for every pokemon which includes

[2016-09-13 17:05] #141 closed

[2016-09-14 04:07] sacdallago commented on #140
@samitsv MH. It might make sense that they are :) @gyachdav we did this last semester, but I'm not entirely sure it makes sense.

Taking the idea from https://github.com/PokemonGoers/HashPokemonGo/issues/12#issuecomment-246899760 maybe extend that object (`{twitterId: xyz, sentiment: 1.23}`) with:
- the original text of the tweet
- lat/lng info if available
- timestamp of the tweet

and save that?

[2016-09-14 04:12] sacdallago opened #143 "Sorting"
It appears to me that there is no sorting in these types of calls?

http://pokedata.c4e3f8c7.svc.dockerapp.io:65014/api/pokemon/sighting/search?source=twitter

If you implemented the limit on number of returns (but, also, in general) these results **must** be sorted, last entry to be stored being first in the array.

[2016-09-14 05:13] sacdallago opened #144 "Update readme"
Please update the readme a bit.

- [x] 1. Get rid of the introduction, it was just a placeholder
- [x] 2. Describe what this project is about, contributors, where the demo is running, prerequisites...
- [x] 3. Describe how to use it (fetching from docker directly or building from the repo)
- [x] 4. Describe how to run the listeners
- [x] 5. Where is the config? How can I define stuff? What if I do

[2016-09-14 06:00] sacdallago opened #145 "Good news everyone"
# [Good news everyone](https://www.youtube.com/watch?v=g8IVI0sZ6F8)

![image](https://cloud.githubusercontent.com/assets/6240943/18501432/0169916e-7a83-11e6-8b4c-ac550a633fdf.png)

The log with pokemap is:

[code]

Could someone look into that?

Still everything is running on my server. But at least the endpoint will not change now and we are running the listeners for some time.

Please also let m

[2016-09-14 08:08] jonas-he commented on #145
@sacdallago the cause seems to be `Buffer.from()` method. It was introduced in node js 6.0.0 and were running 4.0.0. So either i Change it to `new Buffer()` or we update node js.
Yes there is new data. About 1.1 million sightings, around 350 MB ... so hitting the limit soon :smile:

[2016-09-14 08:52] samitsv commented on #144
updating read me https://github.com/PokemonGoers/PokeData/tree/updateReadme

[2016-09-14 09:55] jonas-he commented on #145
570 MB as of now ... 500 MB was the limit right?

[2016-09-14 09:58] sacdallago commented on #145
oh shit :D @gyachdav @goldbergtatyana @juanmirocks can someone with more authority than I ping Tim on the mongo issue?

[2016-09-14 10:05] jonas-he commented on #142
I would vote for the description from pokemon.com since this is the same description as  in the in-game pokedex (in pokemon go)

[2016-09-14 10:12] juanmirocks commented on #145
@sacdallago I will ask

[2016-09-14 10:13] juanmirocks commented on #145
What size limit do we expect for the mongodb?

[2016-09-14 10:23] sacdallago opened #146 "Don't store null loc/lat valued sightings"
See https://github.com/PokemonGoers/PokeData/issues/140#issuecomment-246901086

[2016-09-14 10:23] sacdallago commented on #145
thanks @juanmirocks , also @goldbergtatyana will participate in the quest :)

I asked for a 500GB instance, but considering the growth of this db and the size of the old one, I would almost be tempted to go for a 1TB, if Tim has space left somewhere!

@PokemonGoers/pokedata please fix #143 and #146 ASAP

[2016-09-14 10:45] samitsv commented on #140
@sacdallago about null lat/lng, maybe important if someone wants to see the number of appearances of pokemons or want to know the appearance time of pokemon, like one pokemon appears mostly on day and not during night time?

[2016-09-14 11:47] farisca commented on #139
thanks for the explanation! :D

[2016-09-14 11:47] #139 closed

[2016-09-14 12:05] sacdallago commented on #140
hmm.. @goldbergtatyana @juanmirocks @gyachdav opinions?

[2016-09-14 12:18] vivek-sethia commented on #136
@sacdallago

Using simple Hamming distances, `bulbs` and `bulbssaur` both result in a distance of 1 when matched against **`bulbasaur`**

Quoting what you said,

Applying this, `bulbs` would be penalized and hence results in a distance of 5, whereas `bulbssaur` would have a distance of 1.

This implies that `bulbs` should  have a shorter distance, which is contrary to what was derived above. This

[2016-09-14 12:24] goldbergtatyana commented on #140
valid points from both of you. null values of long/lat
- are **not** useful for prediction, since we can neither infer exact location, nor weather or topological features (e.g. proximity to water)
- could be **useful** for general statistics on the reportings of pokemons

If we have an issue with storage space, then I would recommend to not store sightings with empty locations. If there is no issu

[2016-09-14 12:37] swathi-ssunder commented on #140
@goldbergtatyana @sacdallago To add further to the discussion, we had to store null values for `location` even when there is no data for it(without skipping the `location` key altogether) since we have indexed data based on  `location` data field for geospatial queries.
So if we rather prefer not to have these entries, then we could skip/ignore the record altogether.

[2016-09-14 12:43] #143 closed

[2016-09-14 13:16] goldbergtatyana commented on #140
thanks @swathi-ssunder ! Again, for predictions these records are useless. For statistics on sightings they are nice. However, for doing the statistics these data will be most likely used just once. Therefore, I would suggest to get rid of entries with empty location altogether.

[2016-09-14 14:28] jonas-he commented on #136
@vivek-sethia i think it makes more sense to compute hamming distance only for strings of equal length. So if we compare two strings of different length (e.g bulbs vs. bulbasaur) one could take the first few characters only, which means stripping the last characters of the longer string (bulbasaur -> bulba) and then compute the distance

[2016-09-14 14:29] swathi-ssunder commented on #136
@jonas-he - I agree. But the comments above seemed a bit confusing to me too.

[2016-09-14 18:01] samitsv commented on #145
@sacdallago it seems to me somehow the new twitter pokemon sightings data is not added to the pokemonsightings collection, is the twitter credentials added somewhere? config file or so?
compared to other sources, twitter requires the credentails to be added as well

[code]

[2016-09-14 18:21] samitsv commented on #146
worked on here https://github.com/PokemonGoers/PokeData/pull/148

[2016-09-14 18:40] #146 closed

[2016-09-14 21:33] #136 closed

[2016-09-14 22:48] jonas-he commented on #144
see #151

[2016-09-14 22:50] #144 closed

[2016-09-15 08:41] sacdallago commented on #136
@swathi-ssunder my rationale is not the case you have a longer word than the one you try to match, but the other way around (although, now that you mention it, this is also a concern). I was only trying to explain a rationale, which I think hamming is lacking. Reading wiki:

What I think this implies, thus, is that `bulbs` will have a lower chance than `bulbssour` to be matched to `bulbasour`, alt

[2016-09-15 08:45] sacdallago commented on #145
@samitsv twitter listener is indeed running and is indeed running with the env variables. This needs some further digging. Although: we maxed out the mlba space, right? I got the mongo instance from the lab today but there is another issue to solve first, otherwise it won't work.. might need some time still, which is bad.

[2016-09-16 06:36] sacdallago commented on #1
@PokemonGoers/pokedata hey guys, was wondering if the Gym data integration that @juanmirocks talked about in some issue was being considered by someone :)

[2016-09-16 14:56] marwage opened #153 "Gym position"
Can you please add the positions of gyms to the data dump?

[2016-09-17 11:26] johartl opened #154 "Empty API result"
It seems like all API requests now return an empty `data` object.
E.g. `curl http://pokedata.c4e3f8c7.svc.dockerapp.io:65014/api/pokemon/`
[code]

[2016-09-17 11:28] johartl opened #155 "GetAllSightings: Sort buffer overflow"
`curl http://pokedata.c4e3f8c7.svc.dockerapp.io:65014/api/pokemon/sighting/`
[code]

[2016-09-17 11:34] jonas-he commented on #153
@marwage
1. which data dump?
2. we currently don't gather infos about gyms, the only data set with gym info is the one i provided you here https://github.com/PokemonGoers/PredictPokemon-2/issues/38

[2016-09-17 12:08] jonas-he commented on #154
@johartl we are currently rebuilding DB, so at the moment the collection for the pokemon is empty.
But should be fixed soon (or maybe not because we exceeded the storage limit on the DB provider 😄)

[2016-09-17 12:10] johartl commented on #154
Do you know when you will be done with this approximately?
Thanks for the prompt response.

[2016-09-17 12:10] jonas-he commented on #155
@johartl thanks for the info, its a known issue we are working on

[2016-09-17 12:50] sacdallago commented on #154
I've just stopped the scrapers since they are just interfering with your work, I guess.

[2016-09-17 12:57] jonas-he commented on #154
@johartl fixed

[2016-09-17 13:03] jonas-he commented on #154
@sacdallago when did you stop the scrapers? because there was no more data written to mlab since like the evening on the day you started them (aka Wednesday)

[2016-09-17 13:09] sacdallago commented on #154
Mh. I stopped then when I commented earlier. Probably once the database rises an error the scrapers stop without dying (they enter in the so called zombie-state), aka the docker container didn't restart (it only restarts on non-exit 0) and was just running on empty?

Might be worth checking, could you open an issue for this?

[2016-09-17 15:37] jonas-he commented on #142
@AlexanderLill description from pokemon.com is integrated into our API

[2016-09-17 15:37] #142 closed

[2016-09-17 15:40] jonas-he commented on #154
@sacdallago i think the fact that there was no more data inserted is more related to the mlab limit

[2016-09-17 16:25] jonas-he commented on #155
@sacdallago it seems that the reason for this is that we don't have an index over the "time" attribute of our sightings => sorting has to be done in memory for 2,5 million sightings => buffer overflow.
However we defined an index for "time" and we don't know why it is not there.
If we try to create the index now, it fails because of duplicates so we can either try to drop duplicates or  drop the w

[2016-09-17 17:45] gyachdav commented on #155
Define start from scratch.

[2016-09-17 18:29] AlexanderLill commented on #142
@jonas-he @fabe85  Thanks! :)

[2016-09-17 19:08] jonas-he commented on #155
This is what i mean: drop the "pokemonsightings" collection which has ~2.5 million sightings and was the result of running the scrapers for around 12 hours until we hit the storage limit on the mlab instance. Then restart the listening process so that the index for the time attribute gets created and no more buffer overflow when someone requests sightings from our API. Of course i already did a ba

[2016-09-17 19:57] samitsv commented on #140
@phdowling @sacdallago i think i forgot about the part with twitter texts being stored. So do we store it or not? I see some sentiment api is already implemented, @phdowling could you let me know how I could access it?

[2016-09-18 11:27] #2 closed

[2016-09-18 11:27] #120 closed

[2016-09-18 14:17] jonas-he commented on #130
relative time is implemented (see #158 ), environment feature code is adapted by the prediction group.

[2016-09-18 14:17] #130 closed

[2016-09-18 14:17] #154 closed

[2016-09-18 16:10] marwage commented on #153
@Aurel-Roci @MatthiasBaur @bensLine @semioniy

[2016-09-19 01:49] sacdallago commented on #140
@samitsv I would store it. Better to have this data than not.. @gyachdav @goldbergtatyana @juanmirocks opinions?

[2016-09-19 01:51] sacdallago commented on #155
@jonas-he we can also export the data we have till now in a dump and start anew on the mlab servers. The rostlab server is still giving me all the issues it possibly can, it's starting to become annoying

[2016-09-19 09:09] sacdallago opened #159 "Create release"
Create tag + release + push to master.

I will manually start the scrapers on master from the evil rostlab machine

[2016-09-19 11:41] samitsv commented on #159
@sacdallago this will have to wait since after seminar we had a discussion with haspokemongo #140  so we will try to integrate our works and then we can proceed with releasing

[2016-09-20 06:29] sacdallago commented on #159
@samitsv you can create a pre-release. I need this to populate the docker `:latest` autobuild

[2016-09-20 08:12] swathi-ssunder commented on #159
@sacdallago - Here is the link to the [pre-release](https://github.com/PokemonGoers/PokeData/releases/tag/v1.0-alpha).
We plan to create the release after integration with the other project.

[2016-09-20 10:09] bensLine commented on #153
@jonas-he yes, we meant the data from the dump you provided. Anyway if you do not use the positions so for we take care of that by ourself.

[2016-09-20 11:43] AlexanderLill opened #160 "Additional data: More images / image formats"
Hello everyone,

it would be very helpful to receive some more different image formats per pokemon for our website / app. We are talking mainly about different formats, and not necessarily different content of the images :)

Particularly the following would be helpful:
- small, not animated (80x80 pixels) (like the one now, just without animation)
- big, not animated (min 512x512 pixels, ... svg?,

[2016-09-20 22:17] jonas-he commented on #160
what about these for the big ones with transparency: http://nintendo.wikia.com/wiki/Category:First_generation_Pok%C3%A9mon_images
We have to make sure they are under a free license right? Dont know about these ones ...

[2016-09-20 22:27] jonas-he commented on #155
@sacdallago yes we could start anew on the mlab servers, but we would still have the storage limit. only difference to the collection that we now have would be that we will have the index `{"appearedOn": -1, "pokemonId": 1, "location": 1}, {"unique": true}`  instead of just `{"appearedOn": -1}` (which i created manually to fix the API error temporarily). So no big benefit apart from having no dupl

[2016-09-20 22:27] #155 closed

[2016-09-20 22:27] #153 closed

[2016-09-20 22:34] jonas-he commented on #121
added diagrams from our presentation to the original spreadsheet from guy (click on "Sheet-2")

[2016-09-21 12:17] #159 closed

[2016-09-21 12:17] sacdallago commented on #159
Needed to trigger this to run the scrapers

[2016-09-21 12:18] AlexanderLill commented on #160
@jonas-he maybe we find another source, or we ask them in a mail if it's okay for us to use them non-commercially? ( @gyachdav )

[2016-09-21 12:50] sacdallago commented on #145
Running manually on RostLab now:

[code]

the database is populating **fast** (after 5 minutes)

[code]

1 second apart calls of `count()`:

[code]

If nothing goes wrong, we will have some nice data for the kaggle @gyachdav @goldbergtatyana
Leaving for a 32h-awake trip now 😪 🌴 have fun guys!

[2016-09-21 13:37] jonas-he commented on #160
@AlexanderLill for these images it says they have the copyright of Nintendo but they can be used under "fair use" (e.g. http://nintendo.wikia.com/wiki/File:Tauros.png). As wikia.com is not related to Nintendo and use these images and apparently dont have problems with Nintendo I think we might use them as well. However I don't want to have the last word on this @gyachdav

[2016-09-21 13:46] jonas-he commented on #160
another source, also fair use: https://github.com/jnovack/pokemon-svg

[2016-09-22 13:04] AlexanderLill opened #163 "Additional data: Rarity of pokemon"
Hello everyone,

it would be very helpful to also get the data about the rarity of each pokemon. We want to use this for sorting pokemon in different places and also to show some indicator in our PokeDex.

The following fields are therefore useful:
**ranking**: the number indicating which number this pokemon gets on a ranking from 1: rarest pokemon to 151: most often occurring pokemon. _E.g. as fa

[2016-09-22 14:35] samitsv commented on #140
being worked on https://github.com/PokemonGoers/PokeData/pull/162

[2016-09-22 17:01] gqinami opened #164 "Limiting the number of pokemons in the response"
Hi @PokemonGoers/pokedata,

after the meeting today with @PokemonGoers/catch-em-all and @PokemonGoers/pokemap-2 we decided that we would like to get in the response no more than 1000 pokemons (sightings or predictions) because a higher number is not really useful for the user and is not visible to display in the map.

Also, when cutting the response, we would like to have also an indication that y

[2016-09-22 21:33] jonas-he commented on #164
@gqinami We already implemented a limit of 2500 sightings per API request, however that can easily be changed to 1000.
@swathi-ssunder @vivek-sethia for the "flag" wether or not the data has been limited or not mongoDBs limit function does not give us this information. This means if it returns 1000 we would not know if the actual request did contain exactly 1000 by chance or if it was cut down.
To

[2016-09-22 21:42] jonas-he commented on #163
@AlexanderLill There are already a lot of such rankings floating around the web, e.g. http://imgur.com/gallery/ZTgIu or https://docs.google.com/document/d/1iZeW3wt-h-L7v97FaDLSjqxFysTLQef92c1nNOqt3Tk
but we could also use our own analysis data. I will check what makes more sense.
Do you also want an API route for that or shall we provide it to you as an excel sheet/json or sth else?

[2016-09-22 21:46] jonas-he commented on #160
@Lugitan maybe you want to join in on the conversation and give a status update if you have one.

[2016-09-22 21:47] jonas-he commented on #145
@sacdallago hows the DB doing 😄 ?

[2016-09-22 22:02] samitsv commented on #160
@jonas-he I had a discussion with @Lugitan as well in the morning so using it should be fine using the images, and giving nintendo and the source credits. I will be using the existing gif and png images from http://veekun.com/dex/downloads, svgs from https://github.com/jnovack/pokemon-svg/tree/master/svg, this should cover all the requred images

[2016-09-22 22:29] samitsv commented on #160
@sacdallago now i want to add svg,png and gif images to my pokemonicons collection in mlab and i am not able to because of quota, what should i do? required for supporting new image requirements

[2016-09-23 00:12] johartl commented on #163
It would be nice if you could add the data to the pokemon object itself.

[code]

[2016-09-23 06:04] MajorBreakfast commented on #164
Here's more from our discussion yesterday:

Since the app always shows a time range of sightings, it is best to cut off by time. You should keep the 1000 Pokemon closer to now and discard those farther in the past. In other words: Sort by time (more recent first) and cut off at 1000. (Or at 1001 for your trick :)

The idea is that if the user filters for Pokemon that are very rare, she can see the

[2016-09-23 08:26] swathi-ssunder commented on #164
@jonas-he - Right. If we want to know the total number of records, then we will either have to use a separate count query or maybe use an aggregate query with the limit. Rather, limiting by 1001 and making the inference seems to be better.

[2016-09-23 09:37] samitsv commented on #160
- closed in https://github.com/PokemonGoers/PokeData/pull/165
- http://pokedata.c4e3f8c7.svc.dockerapp.io:65014/doc/

[2016-09-23 09:59] samitsv commented on #160
but there might be some missing images on request(due to our mlab database limitation), but will be udpated

[2016-09-23 13:29] #160 closed

[2016-09-23 14:14] jonas-he commented on #164
@MajorBreakfast yes, we already sort by time first (descending) and then limit :)

[2016-09-23 14:18] jonas-he commented on #160
@samitsv yeah there are some missing (there are 106 out of 151). I would delete some of the 2,5 million sightings and maybe you can insert it again.

[2016-09-23 17:25] jonas-he commented on #164
done, see #166

[2016-09-23 17:25] #164 closed

[2016-09-24 09:43] #140 closed

[2016-09-24 10:49] swathi-ssunder opened #167 "API unavailable after integration with project C"
@sacdallago - After #162 , the [API](http://pokedata.c4e3f8c7.svc.dockerapp.io:65014/api/pokemon) link is not available.
The builds (both Travis and Docker) seemed fine and completed without errors.

[2016-09-24 11:33] jonas-he commented on #167
@swathi-ssunder it seems that DNS resolution is not working. This is the case for everything like *dockerapp.io and it seems that this appears from time to time, see https://forums.docker.com/t/resolved-dockerapp-io-dns-down/18448
So nothing we can do about right now.

[2016-09-24 13:48] johartl opened #168 "Expose HashPokemonGo websocket port"
Hi everyone,
after having integrated the work from the @PokemonGoers/hashpokemongo team in PR #162 you still need to make their websocket port avavilable in your Docker container.

- [x] Expose the port in your `Dockerfile`
```EXPOSE [8080, 3322]```

- [x] @sacdallago You would need to make the port available when deploying the container on your server.

[2016-09-24 17:19] swathi-ssunder commented on #167
@sockeqwe Not related to this issue, however could you look at https://github.com/PokemonGoers/PokeData/pull/162#issuecomment-249376379 ?

[2016-09-24 19:03] #167 closed

[2016-09-24 19:04] swathi-ssunder commented on #167
Seems to be fixed after #169

[2016-09-25 03:18] sacdallago commented on #167
Sorry for just reading now, connection is crap. Now slowly going through all the issues in my 10 min hotel WiFi :D

[2016-09-25 09:38] sacdallago commented on #168
Exposed and mapped to `65024` --> http://pokedata.c4e3f8c7.svc.dockerapp.io:65024/

[2016-09-25 09:42] sacdallago commented on #160
@samitsv  the RostLab mongo machine is accessible only from the RostLab server wich will hold the app, at some stage. Meaning: I don't have a fix to the mlab quota problem, not for development, at least. For production, yes.

[2016-09-25 10:15] sacdallago commented on #145
It took me about 10 minutes to type this via ssh 😷 Bali is good for surfing but not on the web!

[code]

not bad for three days, guys!

@goldbergtatyana @gyachdav  this data should make it to the kaggle. I started a data dump now on the external drive connected to the old got virtual machine, from where somehow I should be able to copy it to somewhere else in rostlab or expose it on the web (or yo

[2016-09-25 10:36] sacdallago commented on #163
Mh. these data should come from the @PokemonGoers/predictpokemon-1 @PokemonGoers/predictpokemon-2 groups, though I wonder how. @goldbergtatyana can you get this kind of information out of the ML device itself? And how.. 💭

[2016-09-25 11:46] semioniy commented on #163
@sacdallago we have the distribution of pokemon seen, it is only an approximation of rarity, but still.
![distr](https://cloud.githubusercontent.com/assets/21012972/18815105/bf0bd6d6-8326-11e6-844f-4660e8691455.jpg)![distr2](https://cloud.githubusercontent.com/assets/21012972/18815119/25bbb70c-8327-11e6-944f-c1f73d6dce58.jpg)
But with 500k dataset it seems to be pretty legit to me. (The pictures a

[2016-09-25 12:13] johartl commented on #168
Is the websocket port actually opened? Shouldn't I get the socket.io library when requesting http://pokedata.c4e3f8c7.svc.dockerapp.io:65024/socket.io/socket.io.js ? Or am I missing something here?

[2016-09-25 12:30] sacdallago commented on #168
I haven't tested it, actually. But I was also wondering, don't know if it's behaving as should, but from docker cloud:

![image](https://cloud.githubusercontent.com/assets/6240943/18815268/81664014-835d-11e6-83f9-2ddf30aaec7c.png)
![image](https://cloud.githubusercontent.com/assets/6240943/18815270/8e525204-835d-11e6-830f-10720f581cd6.png)

So: I opened the port + redeployed the machine, and docke

[2016-09-25 12:31] sacdallago commented on #163
yeah :) I get that, but eventually the numbers will adjust?

[2016-09-25 12:32] semioniy commented on #163
I think so.

[2016-09-25 13:10] johartl commented on #168
Yes the configuration looks good.
My assumption is that the port 3322 is not opened by the node server at all.
The important piece of code seems to be

[code]

Can someone verify if this code is even executed? I can't find any other module `require`'ing this file.

[2016-09-26 12:04] bensLine commented on #163
@sacdallago from the 600k data dump we get those numbers for the different pokemon ids
- 1: 2725
- 2: 170
- 3: 24
- 4: 1220
- 5: 40
- 6: 13
- 7: 3157
- 8: 179
- 9: 37
- 10: 20039
- 11: 1283
- 12: 160
- 13: 56695
- 14: 3648
- 15: 445
- 16: 104627
- 17: 6497
- 18: 870
- 19: 78040
- 20: 2451
- 21: 25032
- 22: 832
- 23: 8108
- 24: 279
- 25: 1017
- 26: 20
- 27: 3672
- 28: 123
- 29: 7964
- 30: 446
- 31:

[2016-09-26 15:30] gqinami opened #172 "Pokemon icons"
Hey guys,

It looks like there is a problem with the API for pokemon icons (gifs). For most of the pokemons, the icons are not available:

![image](https://cloud.githubusercontent.com/assets/15110315/18840405/c8795eda-840e-11e6-82fc-37a78df93f0f.png)

Can you please check this?

Thanks

[2016-09-26 15:44] samitsv commented on #172
yes, this is a problem for a while since we are running out of space in our temporary db in mlab. this will be solved soon when we use the rostlab db

[2016-09-26 18:16] jonas-he commented on #163
done, see #171

[2016-09-26 18:27] jonas-he commented on #172
@gqinami its fixed now

[2016-09-26 18:27] #172 closed

[2016-09-26 19:08] AlexanderLill commented on #163
@jonas-he thanks, great! :)
@bensLine I think we will have to come up with a visualisation in the user interface, yes. I think we will somehow map the rarity ranks to a star-system (1 to 3 stars) or something, let's see. If someone is interested in brainstorming => https://github.com/PokemonGoers/Catch-em-all/issues/86

PS: It would be cool if the API documentation could be updated too so we have

[2016-09-26 19:08] #163 closed

[2016-09-28 09:31] johartl commented on #168
Can someone check this please? @PokemonGoers/pokedata @PokemonGoers/hashpokemongo
Could we also reopen this issue so it doesn't get lost.

[2016-09-30 00:16] AlexanderLill opened #173 "Wrong/shifted description texts"
Hello everybody,

call me crazy, but I think I just found a strange issue: As far as I see the descriptions are somehow shifted starting at pokemon 20: Raticate.

It starts with 19: Rattata not even having a `description` field:
http://pokedata.c4e3f8c7.svc.dockerapp.io:65014/api/pokemon/id/19

And then goes on with pokemon 20-22 having the description of the pokemon right before them:
http://poke

[2016-09-30 07:28] swathi-ssunder commented on #173
@AlexanderLill - Thanks for the observation.
There was indeed a problem with the description and I fixed it in the database as well as the json file. Refer #174.
Also checked the description for all other pokemons and they seem fine.

[2016-09-30 08:38] #173 closed

[2016-09-30 09:58] AlexanderLill commented on #173
Thanks :)

[2016-09-30 10:09] MatthiasBaur opened #175 "Filter for identical sightings"
Hi!
Do you have a filter implemented to weed out identical datapoints?
Team Predict

[2016-09-30 16:32] jonas-he commented on #175
@MatthiasBaur In the current data provided through the demo there could be duplicates. But for the data which was gathered on the rostlab machines there should be no duplicates.

[2016-09-30 16:44] jonas-he commented on #168
@johartl sorry just came across this issue. From my understanding it seems like "npm start" does not start the hashPokemonGo thing, you need to run "npm run listen --collection=hashPokemonGo" @sacdallago maybe you did not include that.

[2016-09-30 19:19] MatthiasBaur commented on #175
Thanks for the info.

[2016-09-30 19:19] #175 closed

[2016-10-02 08:14] sacdallago commented on #168
Nope, I did not include that :) So it's entirely a different process than the original api... mmhh, does this make sense?
@jonas-he

[2016-10-02 11:18] johartl commented on #168
It should be possible to run both express and socket.io in the same process. Having two different processes running in the same Docker container seems really awkward.

[2016-10-02 11:23] phdowling commented on #168
Definitely possible, we should use a pattern like this:

[code]

[2016-10-02 12:09] johartl commented on #168
Would this also mean that they are both using the same port?

[2016-10-02 23:12] jonas-he commented on #168
Im not an expert on docker and wether or not you should run several processes in one container or use separate containers...
What we could do is: add a call to the hashpokemongo "module" inside the startup script that gets called when executing "npm start". since node is asynchronous it should start both the hashpokemongo and the API...

[2016-10-03 13:48] goldbergtatyana commented on #175
is a sighting reported by two different people but of the same pokemon at the same location and at the same time is considered to be a duplicate, @jonas-he ?

[2016-10-03 13:51] vivek-sethia commented on #175
@goldbergtatyana - If they are from the same data source, they are considered duplicate and hence only the first one is considered.
If they are from different data sources, then both are retained in the db.

[2016-10-03 13:55] goldbergtatyana commented on #175
thanks @vivek-sethia , so we might have duplicates in that sense. What about sightings of the same pokemon at the same time, but at two different locations (with a distance of few meters from each other)? This would also be two duplicate entries that would probably also be contained in the database?

[2016-10-03 13:57] vivek-sethia commented on #175
@goldbergtatyana You are right, that will also be contained in the database, since exact locations ( lat, long)  are considered.

[2016-10-03 14:02] goldbergtatyana commented on #175
FYI @PokemonGoers/predictpokemon-2

[2016-10-03 14:21] jonas-he commented on #175
@vivek-sethia I thought that data source does not matter, only place, time and pokemonId as this is what is in `/app/models/pokemonSighting.js`:
`pokemonSighting.index({"appearedOn": -1, "pokemonId": 1, "location": 1}, {"unique": true});`

[2016-10-03 14:29] vivek-sethia commented on #175
@goldbergtatyana  Got bit confused. It will only check for `time, location, and pokemon id`and hence there won't be duplicates from different sources.  Thanks for the correction @jonas-he . However, the current data from mlab does not have this index. So there will be duplicates.  Once we have the data coming from Rostlab server, it should be fine.

[2016-10-03 16:43] johartl commented on #168
@jonas-he Sure that should work as well. Can you take care of this?

[2016-10-04 12:03] goldbergtatyana commented on #175
Ok so, if time, pokemon_id will be the same for two entries but their locations will be a bit different (in say 1 meter distance from each other), then these would be other duplicates that we will have. It is ok this way though!

@PokemonGoers/predictpokemon-2 team will be drawing randomly 10K sightings from the data of the last few days. Using this approach it is very unlikely that we will catch

[2016-10-05 04:04] sacdallago commented on #168
In principle docker is supposed to wrap one service, but in my head the API and the websocket _are_ one service, just using two protocols -but, again: conceptually they serve the same purpose-

I originally thought that websocket and traditional REST calls wouldn't be allowed to exist on the same port, but it seems they can: http://stackoverflow.com/questions/29497725/can-websockets-and-http-serve

[2016-10-05 12:56] johartl commented on #168
Just make this work somehow please :D

[2016-10-05 19:47] jonas-he commented on #168
see #176 @johartl @sacdallago

[2016-10-06 08:06] sacdallago commented on #168
If #176 get's merged, we can see if the autoredeployed image on docker cloud collaborates :)

[2016-10-06 14:57] vivek-sethia commented on #168
@sacdallago its merged

[2016-10-06 19:09] johartl commented on #168
Again, shouldn't the socket.io client library be served at http://pokedata.c4e3f8c7.svc.dockerapp.io:65024/socket.io/socket.io.js now? Or am I missing something here?

[2016-10-06 19:12] johartl commented on #168
Oh nevermind, your API seems to be down entirely :/
http://pokedata.c4e3f8c7.svc.dockerapp.io:65014/doc/

[2016-10-07 03:03] sacdallago commented on #168
Yup, I have the same feeling ahah

[2016-10-07 03:05] sacdallago commented on #168
Docker cloud logs say:

[code]

[2016-10-07 03:10] sacdallago commented on #168
https://github.com/PokemonGoers/PokeData/blob/develop/app/controllers/filler/hashPokemonGo.js#L3

[2016-10-07 10:23] AlexanderLill commented on #168
@sacdallago maybe `"twitter": "^1.2.5"` needs to be in the package.json of the PokeData team, too? I didnt see it there, it only is in the package.json of the HashPokemonGo team.

[2016-10-07 10:29] AlexanderLill commented on #168
@sacdallago I think the package.json of the PokeData team might also need the `"twitter": "^1.2.5"` dependency? Although the HashPokemonGo team has it in their package.json.

[2016-10-07 12:15] samitsv commented on #168
added module https://github.com/PokemonGoers/PokeData/pull/177

[2016-10-07 18:35] gqinami opened #178 "New API route"
Hello @PokemonGoers/pokedata,

As per the requirements, we need to have a filter function that will get some data from the database, based on the filter criteria.

The filter criteria is:
- Pokemon IDs (Array of pokemon IDs),
- Sightings since (date object or seconds),
- Predictions until (date object or seconds).

So basically, we would like to get all pokemons that match this criteria. There are

[2016-10-07 20:31] gyachdav commented on #178
@gqinami this is a bit too late in the process don't you think? you're already suppose to wrap up this week. Also this is not really an issue but more of a draft requirement. If you want project A to cooperate you better give them concise info of what you need and how to execute. Asking them to come up with design and implementation decision at this stage will not fly. I'm closing this issue and e

[2016-10-07 20:31] #178 closed

[2016-10-07 21:23] jonas-he commented on #168
so the twitter dependency is merged now, however dockerapp DNS is not working. Theres nothing we can do about it but wait. We already had this issue in the past.

[2016-10-07 23:11] AlexanderLill commented on #168
@jonas-he @sacdallago is there a solution for this issue? E.g. using the IP address instead of the docker.io DNS lookup? And can someone check if it really is a DNS issue now, and that the docker container started correctly? :)

[2016-10-08 10:17] jonas-he commented on #168
@AlexanderLill build status is success: https://hub.docker.com/r/pokemongoers/pokedata/builds/
It is indeed the DNS service of dockerapp.io that does not give an answer to the question "what is the IP of pokedata.c4e3f8c7.svc.dockerapp.io ?" So their nameservers are up (e.g. ns1.dockerapp.io) and they also give an answer for e.g. your catch-em-all container but unfortunately not for ours.

Similia

[2016-10-08 10:21] AlexanderLill commented on #168
@jonas-he the buildstatus of the version with the error that @sacdallago posted was also a success as far as I saw it ;)

[2016-10-08 10:27] AlexanderLill commented on #168
@jonas-he thanks for the explanation, I found a similiar thread yesterday: https://forums.docker.com/t/resolved-dockerapp-io-dns-down/18448 ^^ They said they switched to the IP which obviously solved the DNS issue, maybe this is an option for us, too (like I mentioned in the post before)

The last build which didnt work (see @sacdallago post with `Error: Cannot find module 'twitter'`) didn't fail,

[2016-10-08 10:35] jonas-he commented on #168
@AlexanderLill yes i know, but i cant find his exact error message in the build log, i think one needs to log in to docker cloud to see that, but i don't have credentials for that.
I don't think you will find the IP address that easily since we don't have access to the machine where this docker container runs.
I think we have to wait on @sacdallago to solve the mystery

[2016-10-08 11:50] sacdallago commented on #168
Sorry for the delay. Nope, it's not 100% fixed, still won't start up:

[code]

I'm trying to redeploy refreshing the container's volumes, see if that fixes the issue.

[2016-10-08 11:50] sacdallago commented on #168
Nope. Still won't fire up, error as above.

[2016-10-08 12:15] jonas-he commented on #168
@sacdallago it seems like the DB URI is not created correctly. For me everything is working. Maybe we can find a confidential communication channel and exchange DB parametres. I invited you to private gitter room.

[2016-10-08 15:59] sacdallago commented on #168
This is fixed and working now:

http://pokedata.c4e3f8c7.svc.dockerapp.io:65024/socket.io/socket.io.js

[2016-10-08 15:59] #168 closed

[2016-10-09 16:25] AlexanderLill opened #180 "Cache pokemon predictions"
Hello everyone,

sorry for bringing this up, but we are currently thinking about how the caching of pokemon predictions can be implemented. We are doing this, because currently the prediction team triggers a new round of predicting every time data is requested:

It would therefore make sense if the API would cache already predicted pokemon for a certain location and time.

We started a discussion

[2016-10-10 17:03] jonas-he commented on #180
@sacdallago referring to your comment from the closed issue: i don't know if express does some magic caching on its own but if thats not the case then we don't do caching.
What do you think of https://www.npmjs.com/package/apicache ? Shouldnt be too much work to integrate it right?

[2016-10-10 17:03] #145 closed

[2016-10-10 17:04] #1 closed

[2016-10-10 17:09] johartl commented on #180
I assume this will only work for exactly the same requests? If we have two requests coming from two users their latitude/longitude parameters will most likely differ even if the two users are in fact very close. So if we decide to use this we will probably need to truncate the accuracy of the latitude/longitude parameters by a few decimals. Or we use some concept of cells und retrieve the predicti

[2016-10-10 17:52] jonas-he commented on #180
@johartl yes that is true. Currently im not having this much time to implement a super fancy caching thing. If anyone of my project or the other people want to do this then go for it.
I would also suggest that once we get to a high number of users an we run into issues one can start optimizing performance (an thus implement an efficient and smart cache).

[2016-10-11 01:21] sacdallago commented on #180
@jonas-he so, for now, let's got for the not-so-fancy caching variant.

It would definitely make sense to see how much this is actually needed, by looking at how much it takes to generate 10 predictions at the same time..

[2016-10-11 22:17] jonas-he commented on #180
see #181

[2016-10-12 07:47] #180 closed

[2016-10-14 08:20] gyachdav commented on #15
why is this still open?

[2016-10-14 08:20] gyachdav commented on #121
is this done?

[2016-10-14 08:21] Aurel-Roci opened #182 "Add java to the docker container"
Hi guys,

the package that will be created needs java to run.
Can you add java to the docker container.
Look at this issue https://github.com/PokemonGoers/PredictPokemon-2/issues/60#issuecomment-253163369

Thanks

[2016-10-14 08:24] gyachdav opened #183 "endpoint for predictions"
Hello there pokedata, it has been a while 😆

I didn't see any spec in your API that will allow the map team to retrieve predictions. Are predictions included in the sighting data? is there a parameter that distinguish predictions from sightings?

Same questions apply to the model that holds prediction data.

Please respond ASAP.

[2016-10-14 08:44] swathi-ssunder commented on #183
@gyachdav - Hello, the pokemon sightings from the API(that are fetched from the db) do not include the predictions.

[2016-10-14 10:13] jonas-he commented on #182
@swathi-ssunder java installation doesn't seem that straight forward, here might be some advice:
http://stackoverflow.com/questions/36608753/install-java-successfully-using-the-dockerfile-however-its-says-java-command-not
http://www.massimochericoni.com/2015/02/27/how-to-run-a-java-program-in-a-docker-container/

[2016-10-14 10:13] fabe85 commented on #121
@gyachdav Basically it is done except the 10 major urban and exotic centers with their respective daily average sightings. This creates some problems to me. I will ask some other team members to help me with that but I am not sure if we can solve that. However, I think the main statistics are provided and they give a clear overview.

[2016-10-14 10:17] swathi-ssunder commented on #182
@jonas-he - Yes, I already went through the links. Trying it on my local docker. But couldn't get it working yet.

[2016-10-14 10:22] sacdallago commented on #15
Because it never happened, because time and uncertanty.

It's not really needed anyway, and given that I am a bit overloaded right now, I'll say we can do this in the future, if ever

[2016-10-14 10:22] #15 closed

[2016-10-14 10:24] jonas-he commented on #15
i agree

[2016-10-14 10:24] sacdallago commented on #182
hmm. Interesting! And I was told life was easy 😆

[2016-10-14 10:31] sacdallago commented on #183
Yes, because they should be generated on the fly :)

I guess once you can run the predictions, aka call the right function, and get an output, it will be pretty straightforward to implement the route.. Although: you could already implement the route, and imagine to have some magic `predictShit(lat, lng, timestamp)` function that returns the predictions and you later expose this to a GET request :)

[2016-10-14 15:40] bensLine opened #184 "Receive sightings in time range"
Hey guys,

I tried to receive data from the API for 1 day at a given timestamp but I do not get any results.
http://pokedata.c4e3f8c7.svc.dockerapp.io:65014/api/pokemon/sighting/ts/1474702424000/range/1d

`{"message":"Failure. No sighting details within this time range exists!","limited":false,"data":"Cast to date failed for value \"Invalid Date\" at path \"appearedOn\""}`

I tried it for differen

[2016-10-14 15:42] bensLine commented on #183
Btw. predictions for `predict(lat, lng, timestamp)` will be available as an array of the following objects:
`{"pokemonId":"16","confidence":"0.242","latitude":11.6088567,"longitude":48.1679286}`

[2016-10-14 16:01] vivek-sethia commented on #184
http://pokedata.c4e3f8c7.svc.dockerapp.io:65014/api/pokemon/sighting/ts/14%20September%202016%2000:00:00/range/1w

http://pokedata.c4e3f8c7.svc.dockerapp.io:65014/api/pokemon/sighting/ts/2016-09-14T08:00:00/range/1w

Both of the above url works, anything that is accepted by `new Date` can be used. I will update doc since internally we are converting it into UTC.

[2016-10-14 16:19] bensLine commented on #184
sweet, thanks! :)

[2016-10-14 16:26] bensLine commented on #184
One more question, there is no data yet for the last week:
http://pokedata.c4e3f8c7.svc.dockerapp.io:65014/api/pokemon/sighting/ts/2016-10-14T16:22:34.648Z/range/1w
what's the latest data from when I can receive data?

[2016-10-14 16:29] bensLine commented on #184
and is there a limitation that the API returns max 1k data points? cause we need more than 10k :p

[2016-10-14 16:46] jonas-he commented on #184
@bensLine the latest data is from around 24th of septembre. Please note that the data there is not really thought to be something to work with. If you want nice and consistent data ask @sacdallago (im thinking of the 6GB thing).

[2016-10-14 22:26] Aurel-Roci commented on #182
Hey guys, you can also include the prediction package in your npm dependencies now,
Just add the following name dependency `predict-pokemon`

[2016-10-15 04:27] sacdallago commented on #184
AWS banned us :D we are fighting via fax to get the damn account up

[2016-10-15 04:33] sacdallago opened #185 "Unhandeled exception"
The docker instance stopped after an unhandeled error. Full stack:

[code]

[2016-10-15 07:05] swathi-ssunder commented on #182
@sacdallago - This is the Dockerfile I tried(to include java).

[code]

And there are errors.

[code]

I found that this could be due to the change in the first line from `FROM node:4.0` to `FROM ubuntu:14.04`. However, neither of them work.

Any pointers ?

[2016-10-15 07:10] #185 closed

[2016-10-15 07:11] vivek-sethia commented on #183
Refer #187 . Changes will need to be made after the predictions are made available later.

[2016-10-15 09:40] fabe85 commented on #121
Result: The remaining statistics cannot be generated only using the mlab databases. Therefore, I will close this issue now.

[2016-10-15 09:40] #121 closed

[2016-10-15 10:54] jonas-he commented on #184
@sacdallago for what did they ban us ?

[2016-10-15 19:32] jonas-he commented on #182
@swathi-ssunder i guess the version of node in the repository you installed from is so old that it doesnt support strict mode. I will look into this.

[2016-10-16 11:53] jonas-he commented on #182
created PR, lets see if it works

[2016-10-16 12:10] jonas-he commented on #182
build was successful 👍

[2016-10-16 12:10] #182 closed

[2016-10-16 22:40] mfkaptan opened #189 "No tweet data from the api"
Hi guys,

Catch-em-all here. I am trying to get tweets (with actual texts) from the api for tweet view on our app. Can anybody tell me what is the reason http://pokedata.c4e3f8c7.svc.dockerapp.io:65014/api/pokemon/sighting/source/twitter returns
[code]
Also, will this result contain the text data?

Thanks,
@mfkaptan

[2016-10-17 00:14] jonas-he commented on #189
@mfkaptan the reason is that there are no sightings from twitter currently in our (temporary) database. There won't be any text, it would look the same like these ones http://pokedata.c4e3f8c7.svc.dockerapp.io:65014/api/pokemon/sighting

[2016-10-17 00:37] jonas-he opened #190 "status of scraper/listener"
As Niantic has recently enforced an update to the API of their game (implemented some new security/ anti reverse engineering features) all websites that worked with actual game data are out of service as of now.

If it is the plan that our listeners will be used in the future then i guess that theres little hope that they will work. The owner of fastpokemap is currently working on breaking the API

[2016-10-17 02:58] sacdallago commented on #190
thanks for the heads up @jonas-he , this sucks! It's good though, that the prediction guys have had enough data to come up with predictions that exceed random. Hopefully Niantic won't change the approach on that alg though :cry:

[2016-10-17 03:00] sacdallago commented on #184
They want to verify that we are human beings, and this is done via FAX!!!! Like: hello? 1950's calling?

So: we are still waiting.

[2016-10-17 03:12] sacdallago commented on #189
and now ( #190 ) the most likely source seems to be twitter :D :D :D crowd sourcing findings.

Actually. I see a **huge potential** here: with respect to everyone else, we have a WORKING solution to extract sightings from twitter. Today. No one else can do that. And while other services try to crack the new security measures, we can show data by crowd sourcing.

@gyachdav @goldbergtatyana

Now it

[2016-10-17 06:55] goldbergtatyana commented on #190
and if they will, we'll just retrain our machin learner 👍

[2016-10-17 09:59] mfkaptan commented on #189
@jonas-he Thanks for the answer. So, we won't keep any text from twitter in the database, is that correct (also no tweet data for the mobs)?

[2016-10-17 12:05] jonas-he commented on #189
@mfkaptan yes that is correct. Regarding the mobs im not quite sure, please ask the hashPokemonGo team.

[2016-10-18 12:50] #189 closed

[2016-10-23 02:53] sacdallago opened #191 "Database oh database"
Dear all,

I am setting up the final docker machines and such. I'm having problems with the database initialization. I created a docker container that executes the build line:

[code]

The logs after the execution are:
[code]

But as you can see, the result is pretty different:

http://pokedata.c4e3f8c7.svc.dockerapp.io:65014/api/pokemon/
vs
https://api.predictemall.online/api/pokemon/

Any idea?

[2016-10-23 09:33] jonas-he commented on #191
@sacdallago to me those two responses look the same

[2016-10-23 13:57] sacdallago commented on #191
WTF.
I swear to god this was not working this morning!

[2016-10-23 14:03] sacdallago commented on #191
Closing for now. Mysteries of life? My guess is that it had to do with caching, and since the first answer got back empty, until the cache refreshed, the subsequent requests also got back empty.

[2016-10-23 14:03] #191 closed

[2016-10-23 14:05] jonas-he commented on #191
yeah thats probably the cause

[2016-10-26 06:39] MatthiasBaur commented on #190
Actually we won't be able to preform on a modified spawning algorithm without contemporary data on it. But since most of Niantics effort seems to go into rooting out 3rd parties' sites, I believe that won't be for some time.

[2016-10-26 21:04] sacdallago commented on #190
Yup. Where's the fun for developers Niantics, WHERE?! :D

[2016-10-28 15:05] gyachdav commented on #183
referencing https://github.com/PokemonGoers/PredictPokemon-2/issues/67 again since I did not get any answer so far.

According to @Aurel-Roci the integration of predictions into this project is complete. On the demo app I do not see any prediction.

What is the status then? Is there a demo URL that will show that this integration is really done?

@PokemonGoers/pokedata @PokemonGoers/predictpokemon

[2016-10-28 15:06] gyachdav commented on #183
@sacdallago please make sure this is handled in the next 24 hours thanks

[2016-10-28 17:04] sacdallago commented on #183
Guys, can you give us an endpoint? :)

[2016-10-28 17:15] vivek-sethia commented on #183
Referring to [this](https://github.com/PokemonGoers/PokeData/issues/183#issuecomment-253967793), the [route](http://pokedata.c4e3f8c7.svc.dockerapp.io:65014/doc/#api-PokemonSighting-GetPokemonPrediction) is already implemented.

As mentioned in the above comments, we only need to know which function needs to be invoked and were waiting on @PokemonGoers/predictpokemon-2 for this.

Correct me if I a

[2016-10-28 17:20] Aurel-Roci commented on #183
The function is mentioned in the comments above:
function:  predict(lat, lng, timestamp)
response : {"pokemonId":"16","confidence":"0.242","latitude":11.6088567,"longitude":48.1679286}

[2016-10-28 17:23] vivek-sethia commented on #183
@Aurel-Roci - And how are we supposed to include your project? Is it available as an npm package?

[2016-10-28 17:47] Aurel-Roci commented on #183
@vivek-sethia Yes it is available as a package, I mentioned that in the issue with adding the java in the docker container. I thought this was already known by you guys since @jonas-he mentioned the package.

[2016-10-28 17:56] #184 closed

[2016-10-28 17:57] vivek-sethia commented on #183
@Aurel-Roci - seems like some miscommunication. Will integrate the package and commit in a while.

[2016-10-28 18:08] vivek-sethia commented on #183
@Aurel-Roci - I am trying to integrate and get the following error about the file `prediction_feature_config.json`.
Is there something that needs to be done additionally?

[code]

[2016-10-28 18:22] Aurel-Roci commented on #183
@vivek-sethia Yeah,  sorry forgot to tell you that you have to unzip `json/pokestop_groups.7z` file in the prediction npm package location. It will take some time to initialize the module. Let me know if it works

[2016-10-28 18:37] vivek-sethia commented on #183
@Aurel-Roci - I already extracted it after referring to https://github.com/PokemonGoers/PredictPokemon-2/issues/67#issuecomment-254126234.

And still got this error, so wanted to know if there is anything else?

[2016-10-28 18:53] Aurel-Roci commented on #183
@vivek-sethia I cant seem to reproduce that error. The only thing that comes to my mind is to add `/` before the file name `/prediction_feature_config.json`, like so.

[2016-10-28 18:54] vivek-sethia commented on #183
@Aurel-Roci - Where exactly am I supposed to make this change ?

[2016-10-28 18:57] Aurel-Roci commented on #183
@vivek-sethia  in node_modules/predict-pokemon/prediction.js. Line 31

[2016-10-28 19:00] vivek-sethia commented on #183
@Aurel-Roci - Doesn't work.
Well, do I have to copy the extracted `pokestop_groups.json` to some  other location?

[2016-10-28 19:07] Aurel-Roci commented on #183
@vivek-sethia from what I see from the stacktrace the problem is with `prediction_feature_config.json`. For some reason it cannot find it, which I dont understand

[2016-10-28 19:27] vivek-sethia commented on #183
@Aurel-Roci - Exactly, I already verified that the `prediction_feature_config.json` file exists at the expected location.
I have committed the [change](https://github.com/PokemonGoers/PokeData/commit/6ae99cce3ae05e333faeb617b83db7bd70b800ee). Maybe you could check once if there is something missing.

[2016-10-28 19:39] Aurel-Roci commented on #183
@vivek-sethia  the `require('predict-pokemon')`, should be `require('predict-pokemon').predictor`.

[2016-10-28 19:41] vivek-sethia commented on #183
@Aurel-Roci - Already tried that too. Same error as above.

[2016-10-28 20:25] vivek-sethia commented on #183
@Aurel-Roci - Maybe you could try the code yourself and see it it works.

[2016-10-28 21:14] semioniy commented on #183
@vivek-sethia I guess we found an error, stay tuned, we try to solve it.

[2016-10-28 21:37] Aurel-Roci commented on #183
@vivek-sethia Thanks to @semioniy, this is what we found, first what has to be done is move the content of the  predict-pokemon package from Project/node_modules/predict-pokemon directly into the project directory. For some reason the paths do not seem to work correctly in the package. Also change the tzwhere like described here [https://www.npmjs.com/package/predict-pokemon](https://www.npmjs.com

[2016-10-28 21:40] vivek-sethia commented on #183
@Aurel-Roci Can you please make this change and test it yourself? Seems to be much easier that way. You can amend my commit if needed.

[2016-10-28 21:42] Aurel-Roci commented on #183
@vivek-sethia @semioniy already tested it and it works

[2016-10-28 21:44] vivek-sethia commented on #183
@Aurel-Roci @semioniy  Can I then merge my commit ?

[2016-10-28 21:45] Aurel-Roci commented on #183
@vivek-sethia did you move the contents of the package directly to the project?

[2016-10-28 21:51] vivek-sethia commented on #183
@Aurel-Roci - You mean in the commit? No, because we don't push the node_modules.

[2016-10-28 21:54] Aurel-Roci commented on #183
@sacdallago can you help us with this problem. When the prediction package is published the paths seem not work properly. What is the cause of that?

[2016-10-28 21:57] vivek-sethia commented on #183
@Aurel-Roci - Also, have you tested by including your npm package as a dependency in another project?

[2016-10-28 23:17] semioniy commented on #183
@vivek-sethia that's what I did to test. It works after moving files to parent-parent directory, unzipping zip-files and changing tzwhere dependence. From a box it doesn't work.

[2016-10-29 10:09] vivek-sethia commented on #183
@sacdallago - What do you suggest? Should we commit the entire `predict-pokemon` package in this repo too?

[2016-10-30 16:18] vivek-sethia commented on #183
@sacdallago , @gyachdav - Any inputs on this?

[2016-10-30 16:38] sacdallago commented on #183
Sorry guys I'm currently on a conference. I'll be able to give you valuable input tomorrow!

[2016-10-31 10:04] bensLine opened #192 "API sightings limit"
Hey guys,

is there a limit for the sightings request? I always receive only 1000 entries for a request like: http://pokedata.c4e3f8c7.svc.dockerapp.io:65014/api/pokemon/sighting/ts/2016-09-14T08:00:00.000Z/range/1d
But we actually need all entries of the day.

[2016-10-31 10:27] jonas-he commented on #192
Yes there is. This is due to a request from the maps team that the map wont get overloaded with Pokémon.
In the response there is a flag "limited" which tells you if it had been cut off or not. If yes you should lower the time range. Do this until it is not limited and then query the neighboring time interval with the same method

[2016-10-31 11:06] bensLine commented on #192
hmm, this seems a bit tricky. finding the right timespan by several requests is time-consuming and the wrong approach for that, in my opinion. Can you not provide a parameter `limited` which is by default `true` and we can set it to `false`, so the map team won't be affected.

We would en up with something like this:
http://pokedata.c4e3f8c7.svc.dockerapp.io:65014/api/pokemon/sighting/ts/2016-09-1

[2016-10-31 16:57] jonas-he commented on #192
well this would allow anyone to make arbitrary big request to our server. My idea would be to communicate a secret api key and with that key you will be able to receive responses unlimited in size. Would implement if @sacdallago approves this.

[2016-10-31 17:48] sacdallago commented on #192
@bensLine , @jonas-he is right, that would open up a pretty dangerous behavior. Of course, if someone wants to get all the data all they need to do is send multiple requests with different timestamps, but that requires more work and DDosing the server, which **will** block them.

If you can implement a GET parameter (or better, header) containing a `token` which will validate the requester, that i

[2016-11-01 13:43] bensLine commented on #192
oh I see, thanks for the update!

[2016-11-01 22:28] jonas-he commented on #183
@sacdallago just reminding you that you wanted to give input

[2016-11-01 22:29] jonas-he commented on #192
@bensLine @sacdallago will implement tomorrow

[2016-11-02 18:14] sacdallago commented on #183
Thanks @jonas-he for reminding, sorry about that. Looks like a relative path problem, to me.

@semioniy @Aurel-Roci I've noticed a whole bunch of no-no's in your code:
1. https://github.com/PokemonGoers/PredictPokemon-2/blob/develop/prediction.js#L8 **NEVER** use constant URIs. That link is gonna be down in a couple days, what then? You should give a way of changing this via `init()` options.
2. h

[2016-11-02 23:05] jonas-he commented on #192
@bensLine @sacdallago it's done, see #193. Once this is merged the API at http://pokedata.c4e3f8c7.svc.dockerapp.io:65014/ will be "unlimited" provided you know the token which is publicly available in this github repo. But i guess @sacdallago will be shutting this down soon anyways. So @bensLine should switch over to the API at predictemall.online

[2016-11-02 23:18] sacdallago commented on #192
Thanks @jonas-he . Have a small change request in your PR

[2016-11-02 23:44] jonas-he commented on #192
@sacdallago done

[2016-11-03 00:41] sacdallago commented on #192
@jonas-he 🙈

[2016-11-04 13:36] #192 closed

[2016-11-04 17:54] vivek-sethia commented on #183
@Aurel-Roci , @semioniy , @sacdallago - Once the issues are fixed, we could merge #194  and then close this issue.

[2016-11-05 07:06] Aurel-Roci commented on #183
@vivek-sethia The new package is released, you can install it and try it out. And let me now if it works

[2016-11-05 11:30] vivek-sethia commented on #183
@sacdallago @semioniy @Aurel-Roci - Lots of errors after installing the new package and extracting the
`json/pokestop_groups.7z` file.
Some of the initial errors are below.
1. In `prediction.js`, File `prediction_feature_config.json` could not be found on line 41. This is because of a missing `/` before the file name.
2. After fixing the above error, similar error in file `dataSet_creator.js` on l

[2016-11-06 05:48] sacdallago commented on #183
@Aurel-Roci @semioniy please fix this ASAP

[2016-11-06 16:11] bensLine commented on #192
@jonas-he thanks for the implementation! :) I just wanted to test it, but I get a 502 for https://predictemall.online/api/pokemon/sighting/ts/2016-11-01T08:00:00.000Z/range/1h ad the old API is down as you mentioned. Do you know if there is a running API currently?

[2016-11-06 16:13] jonas-he commented on #192
Nope you have to ask @sacdallago about the status of the API

[2016-11-06 16:14] bensLine commented on #192
ok, thanks!

[2016-11-06 19:22] Aurel-Roci commented on #183
@vivek-sethia Now the package is working. Needs to be checked again when the API is up, but it should work then too

[2016-11-07 07:09] sacdallago commented on #192
Not really, the latest deployment broke the container:

[code]

still missing files errors. This is due to the PR being merged before the problem was fixed.

[2016-11-07 07:10] sacdallago commented on #183
Mh @jonas-he can you check that this really is the case? If so, I will trigger a new docker deployment which will contain the update package

[2016-11-07 09:03] bensLine commented on #192
are sure it's the latest version? since the error refers to this line
`DC.init(__dirname + '/prediction_feature_config.json', true);`
which is fixed in the latest package (yesterday evening).

[2016-11-07 09:48] sacdallago commented on #192
I'll trigger the build on docker hub again. If the service restarts, problem solved.

[2016-11-07 09:58] swathi-ssunder commented on #183
@Aurel-Roci - It now refers to the latest version 0.1.6

[2016-11-07 10:03] swathi-ssunder commented on #192
@sacdallago - The package version was updated and merged just now. So the next docker build should reflect the latest changes.

[2016-11-07 10:19] sacdallago commented on #183
Still not working:

[code]

[2016-11-07 10:25] swathi-ssunder commented on #183
@sacdallago - The above file not found error seems to be because the `json/pokestop_groups.7z` file is not unzipped.
@Aurel-Roci - Is it possible for you to directly include the `pokestop_groups.json` file?

[2016-11-07 10:27] bensLine commented on #183
Great. What would life be without this constant predict pokemon struggle x)

Did you by chance not unzip the zips in the `data` and `json` directory?
`/usr/src/app/node_modules/predict-pokemon/feature_sources/../json/pokestop_groups.json` Is at least zipped if you just checked the package out.

[2016-11-07 10:30] swathi-ssunder commented on #183
@bensLine - `node_modules` folder is not pushed to the repository. The packages are installed using the commands in the Dockerfile. (`npm install`).

[2016-11-07 10:31] bensLine commented on #183
Oh, good :)
The file was to big for git, if there is no limitation for npm packages we should be able to do that.

[2016-11-08 03:06] sacdallago commented on #183
@bensLine for the reference: you can use [unzip](https://www.npmjs.com/package/unzip) to unzip a zip file in your package before the packe is being installed, by defining this directive in the [preinstall script](https://docs.npmjs.com/misc/scripts) of the package.json. This is fancy AF. Or you can do the unzipping in prepublish, but that way you would have the unzipped files in your repo, althoug

[2016-11-08 10:47] bensLine commented on #183
@sacdallago thanks for the info, I never used JS and npm before the seminar, so every pointer is very welcome :) someone of my team @PokemonGoers/predictpokemon-2 will look into it.

[2016-11-12 07:48] sacdallago commented on #183
Since https://github.com/PokemonGoers/PredictPokemon-2/pull/74#event-856132523, @swathi-ssunder version bump, docker hub trigger: we see if it works?
@bensLine

[2016-11-12 08:39] swathi-ssunder commented on #183
Updated to latest version #196. Hopefully everything works this time :pray:

[2016-11-12 13:59] jonas-he commented on #183
@sacdallago its merged and docker build finished successfully. However DNS is not working right now. Maybe because there is still an error (->container shuts down) like we had in the past?

[2016-11-12 15:46] sacdallago commented on #183
Merci! @jonas-he will have a look at the docker cloud log in the mornin'

[2016-11-13 01:18] sacdallago commented on #183
Not over yet! 🗡

[code]

[2016-11-13 01:19] sacdallago commented on #183
@bensLine @Aurel-Roci

[2016-11-13 02:13] Aurel-Roci commented on #183
@sacdallago did you call unzipFiles() first? Like here https://www.npmjs.com/package/predict-pokemon. If it still works after that, I can do something with callbacks, but I would like your feedback on it.

[2016-11-13 10:50] swathi-ssunder commented on #183
@sacdallago , @Aurel-Roci - Even after `unzipFiles()`, the status is same as in https://github.com/PokemonGoers/PokeData/issues/183#issuecomment-260123638

[2016-11-13 13:31] bensLine commented on #183
@Aurel-Roci I added a post install script to unzip the files. can you please release the package again to test it. https://github.com/PokemonGoers/PredictPokemon-2/pull/75

[2016-11-13 13:52] Aurel-Roci commented on #183
@swathi-ssunder  the new version is up

[2016-11-13 14:10] jonas-he commented on #183
see #198

[2016-11-13 14:19] swathi-ssunder commented on #183
@Aurel-Roci , @bensLine

[code]

[2016-11-13 15:06] Aurel-Roci commented on #183
@swathi-ssunder package dependency was missing, added now. Sorry for all this

[2016-11-13 15:31] swathi-ssunder commented on #183
@sacdallago - The docker build was successful this time, the DNS still does not work though!

[2016-11-16 16:44] jonas-he commented on #183
so i looked into this and it turns out that after executing `npm start` this is the output:

[code]

after this the process exits. Dont know exactly whats causing this. might be that it exits because the request to the predictemall site fails (i get a bad gateway when trying it in browser).

[2016-11-16 17:14] jonas-he commented on #183
sorry it turns out that my docker container exits because it couldnt connect to the database. It was still configured with mlab database, but i guess it was taken down, so authentication error -> process exits. To know what the real problem is well have to wait on @sacdallago

[2016-11-18 03:05] sacdallago commented on #183
It seems to be up and running to me :) Can you confirm that the predictions are visible?

[2016-11-18 10:20] jonas-he commented on #183
@sacdallago are you talking about the dockerhub thing or predictemall.online ? The first is down for me the latter is up. However I see no possibility to request predictions

[2016-11-29 02:16] sacdallago commented on #183
@jonas-he 😮 how didn't I reply to that. Sorry :(

Yes, yes. Everything is up where it should be, and down where it should be down :) Why don't you see a possibility to request predictions?

[2016-11-29 11:57] jonas-he commented on #183
@sacdallago i can turn prediction toggle on/off and change the time range but nothing happens on the map as well as in terms of network requests (i see requests for sightings but not for predictions).

Another thing is that there is still some dummy running, which is generating tons of pokemobs in munich.

[2016-12-18 11:58] samitsv commented on #183
updated the api for prediction, https://github.com/PokemonGoers/PokeData/pull/199, but one of the build fails https://travis-ci.org/PokemonGoers/PokeData/jobs/184915843

[2017-12-12 16:15] #190 closed

[2021-08-06 17:24] saawwal opened #203 "What"